<template name="Audience">



	<div class="normalheader small-header">
        <div class="hpanel">
            <div class="panel-body">
            	<div class="col-lg-3 col-md-2">
	                <div id="hbreadcrumb" class="">
	                    <ol class="hbreadcrumb breadcrumb">
	                    	<li class="active"><a class="btn btn-link text-primary text-uppercase" href="{{pathFor route='audience'}}">Audience</a></li>
	                        <!--<li><a class="btn btn-link text-uppercase" href="">Channels</a></li>
	                        <li class="active"><a class="btn btn-link text-primary text-ellipsis" href="">General Channel</a></li>-->
	                        <!--<li class="active"><a class="btn btn-link text-primary" href="">Campaign Name</a></li>-->
	                    </ol>
	                </div>
	            </div>
	            <div class="col-lg-9 col-md-10">
	                <div class="pull-right">
	                	<form id="" class="form-inline" style="margin-bottom:0">	
							<div id="" class="form-group m-b-none">
								<div class="btn-group" style="max-width:210px">
				                	<div class="input-group">
				                		<input type="text" class="form-control" id="" placeholder="Search Groups..." name="search" value="" autofocus="autofocus">
				                		<span class="input-group-btn">
				                			<button type="button" id="" class="btn btn-default"><i class="fa fa-search"></i></button>
				                		</span>
				                	</div>
								</div>
							</div>	                           
		                	<div id="" class="form-group m-b-none">
								<a href="{{pathFor route='audience.insert'}}" id="" class="btn btn-primary text-uppercase m-l-sm"><i class="fa fa-plus m-r-xs"></i> New Group</a>
							</div>
		                </form>
	                </div>
	            </div>
            </div>
        </div>
    </div>

	<div class="content" id="content">

        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-heading introbox hbuilt wborder bg-white text-dark">
                        &nbsp;
                        <div class="panel-tools">
                            <a class="closebox"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="panel-body introbox">
                        <div class="row">
                        	<div class="col-lg-6 hidden-md hidden-sm hidden-xs" style="padding-left:0">
                                <img style="width:100%" src="/images/intro-audience.png">
                            </div>
                            <div class="col-lg-6 col-md-10 col-sm-10 col-xs-12">
                                <h3 class="text-dark m-t-none m-b-sm">Greetings from your Audience interface!</h3>
                                <p class="text-dark m-t-none m-b-md">Easily designate each specific campaign's audience, using highly effective tools, to ensure optimal relevancy and engagement.</p>
                                <button class="btn btn-sm btn-primary text-uppercase m-r-sm run-tour-audience">Start the Tour</button>
                                <a href="{{pathFor route='support'}}" class="btn btn-sm btn-default text-uppercase">Visit our Support Section</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

		<div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="hpanel tour-1">
                    <div class="panel-heading hbuilt wborder bg-white text-dark">
                        Follower Database
                    </div>
                    <div class="panel-body" style="min-height: 115px;">
                        <div class="row">
                            <div class="col-xs-6">
                                <small class="text-dark stat-label">Total</small>
                                <h3 class="text-dark">50102</h3>
                                <h5 class="text-dark">Followers</h5>
                            </div>
                            <div class="col-xs-6 text-right">
                                <small class="text-dark stat-label">Active</small>
                                <h3 class="text-dark">2473</h3>
                                <h5 class="text-success">1,2% <i class="fa fa-level-up text-success"></i> </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="hpanel tour-2">
                    <div class="panel-heading hbuilt wborder bg-white text-dark">
                        Audience Growth
                    </div>
                    <div class="panel-body" style="min-height: 115px;">
                        <div class="row">
                            <div class="col-xs-5">
                                <small class="text-dark stat-label">New Users</small>
                                <h3 class="text-dark">1266</h3>
                                <h5 class="text-dark">This week</h5>
                            </div>
                            <div class="col-xs-7 text-right">
                                <small class="text-dark stat-label">Growth</small>
                                <h3 class="text-success">1,2% <i class="fa fa-level-up text-success"></i></h3>
                                <h5 class="text-dark">From last week</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="hpanel tour-3">
                    <div class="panel-heading hbuilt wborder bg-white text-dark">
                        Most Active Profile
                    </div>
                    <div class="panel-body" style="min-height: 115px;">
                        <div class="row">
                            <div class="col-xs-8">
                                <small class="text-dark stat-label">Average User</small>
                                <h3 class="text-dark">Male, 18-24</h3>
                                <h5 class="text-dark">San Francisco</h5>
                            </div>
                            <div class="col-xs-4 text-right">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="hpanel tour-4">
                    <div class="panel-heading hbuilt wborder bg-white text-dark">
                        Most Active Chat Platform
                    </div>
                    <div class="panel-body" style="min-height: 115px;">
                        <div class="row">
                            <div class="col-xs-4">
                                <img class="m-t-sm" style="width:64px;" src="/images/apps/app-logo-whatsapp.png">
                            </div>
                            <div class="col-xs-8">
                                <small class="text-dark stat-label">Views</small>
                                <h3 class="text-dark">150692</h3>
                                <h5 class="text-dark">This week</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		{{> AudienceView}}
	</div>

 
    
</template>

<template name="AudienceView">
	<div id="audience-view" class="row">
		<!--{{#if isNotEmpty}}	
			{{#if isNotFound}}
				<div class="alert alert-warning">
					"{{searchString}}" not found.
				</div>
				{{else}}-->
				<div id="dataview-data" class="col-lg-12">
					{{> AudienceViewTable}}
				</div>
			<!--{{/if}}	
			{{else}}
			<div class="alert alert-info">
				You have no audience groups created
			</div>
		{{/if}}-->
	</div>
</template>

<template name="AudienceViewTable">
	<table id="dataview-table" class="table table-hover tour-5">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="groupname" style="border-radius: 2px 0 0 0">
					Group Name <span class="pull-right m-r-sm"><i class="fa fa-sort"></i></span>
				</th>
				<th class="th-sortable" data-sort="members">
					Members <span class="pull-right m-r-sm"><i class="fa fa-sort"></i></span>
				</th>
				<th class="th-sortable" data-sort="filters">
					Filters <span class="pull-right m-r-sm"><i class="fa fa-sort"></i></span>
				</th>
                <th class="th-sortable" data-sort="lastmodified">
                    Last modified <span class="pull-right m-r-sm"><i class="fa fa-sort"></i></span>
                </th>
				<th>
					&nbsp;
				</th>
				<th style="border-radius: 0 2px 0 0">
					&nbsp;
				</th>
			</tr>
		</thead>
		<!--<tbody id="dataview-table-items">
			{{#each tableItems}} {{> AudienceViewTableItems}} {{/each}}
		</tbody>-->
		<tbody id="">
			<tr id="">
				<td class="va-middle">
					Influencers Europe
				</td>
				<td class="va-middle">
					1247 members
				</td>
				<td class="va-middle">
		            <ul class="m-b-none" style="list-style:none;padding:0">
		            	<li><b>Gender:</b> Male & Female</li>
		            	<li><b>Location:</b> Europe</li>
		            </ul>
				</td>
		        <td class="va-middle">
		            05/01/2016 17:46 PM
		        </td>
				<td class="td-icon va-middle">
					<span id="" class="fa fa-pencil" title="Edit"></span>
				</td>
				<td class="td-icon va-middle">
					<span id="" class="fa fa-trash-o" title="Delete"></span>
				</td>
			</tr>
			<tr id="">
				<td class="va-middle">
					New York Men Youth
				</td>
				<td class="va-middle">
					8776 members
				</td>
				<td class="va-middle">
		            <ul class="m-b-none" style="list-style:none;padding:0">
		            	<li><b>Gender:</b> Male</li>
		            	<li><b>Age:</b> 12 - 18</li>
		            	<li><b>Location:</b> New York</li>
		            </ul>
				</td>
		        <td class="va-middle">
		            12/01/2016 09:33 PM
		        </td>
				<td class="td-icon va-middle">
					<span id="" class="fa fa-pencil" title="Edit"></span>
				</td>
				<td class="td-icon va-middle">
					<span id="" class="fa fa-trash-o" title="Delete"></span>
				</td>
			</tr>
			<tr id="">
				<td class="va-middle">
					New York Women Youth
				</td>
				<td class="va-middle">
					9134 members
				</td>
				<td class="va-middle">
		            <ul class="m-b-none" style="list-style:none;padding:0">
		            	<li><b>Gender:</b> Female</li>
		            	<li><b>Age:</b> 12 - 18</li>
		            	<li><b>Location:</b> New York</li>
		            </ul>
				</td>
		        <td class="va-middle">
		            12/01/2016 09:25 PM
		        </td>
				<td class="td-icon va-middle">
					<span id="" class="fa fa-pencil" title="Edit"></span>
				</td>
				<td class="td-icon va-middle">
					<span id="" class="fa fa-trash-o" title="Delete"></span>
				</td>
			</tr>
		</tbody>
	</table>
</template>

<!--<template name="AudienceViewTableItems">
	<tr id="dataview-table-items-row">
		<td class="va-middle">
			{{groupname}}
		</td>
		<td class="va-middle">
			{{members}}
		</td>
		<td class="va-middle">
            {{filters}}
		</td>
        <td class="va-middle">
            {{lastmodified}}
        </td>
		<td class="td-icon va-middle">
			<span id="edit-button" class="fa fa-pencil" title="Edit"></span>
		</td>
		<td class="td-icon va-middle">
			<span id="delete-button" class="fa fa-trash-o" title="Delete"></span>
		</td>
	</tr>
</template>-->