<template name="Register2">
	<div class="content" id="content">
		<div class="row">
			<div class="col-lg-4 col-lg-offset-4">
                <div class="hpanel">
                	<div class="panel-heading hbuilt wborder bg-white text-dark text-center">
	                	Welcome to Chatsuite, please sign up
	            	</div>
                    <div class="panel-body">
                        <form id="login_form" class="account-form" role="form">
                            <div class="row">
                                <div class="col-xs-12">
									{{#if verificationEmailSent}}
									<div class="account-form">
										<h2 class="text-dark text-center">
											Thanks for signing up!
										</h2>
										<p class="text-dark text-center m-b-md">
											We've sent verification link to your e-mail address.
										</p>
										<button class="btn btn-lg btn-primary go-home" type="button" data-loading-text="Please wait...">
											OK
										</button>
									</div>
									{{else}}
									<form id="register_form" class="account-form" role="form">
										{{#if errorMessage}}
										<div class="alert alert-danger m-b-md">
											{{errorMessage}}
										</div>
										{{/if}}
										<input id="register_name" type="text" class="form-control" placeholder="Your full name" required autofocus>
										<input id="register_email" type="text" class="form-control" placeholder="Email address" required>
										<input id="register_password" type="password" class="form-control" placeholder="Password" required>
										<button class="btn btn-lg btn-primary btn-block m-b-lg" type="submit" data-loading-text="Please wait...">
											Sign up
										</button>
									</form>
									{{/if}}
                                </div>
                            </div>
                            <div class="row">
                            	<div class="col-sm-6">
									<p class="m-b-none text-dark account-form-text-after">
										Already a member?<br />
										<a style="color:#0BBBEF" href="{{pathFor 'login'}}">
											Sign In
										</a>
									</p>
                            	</div>
                            	<div class="col-sm-6 text-right">
									<!--<p class="m-b-none text-dark account-form-text-after" id="forgot-password-link">
										Forgot password?
										<a style="color:#0BBBEF" href="{{pathFor 'forgot_password'}}">
											Reset
										</a>
									</p>-->                            		
                            	</div>
                            </div>
						</form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>



<template name="Register123">
	<div class="container">
		{{#if verificationEmailSent}}
		<div class="account-form">
			<h2>
				Thanks for signing up!
			</h2>
			<p>
				We've sent verification link to your e-mail address.
			</p>
			<br />			<button class="btn btn-lg btn-primary btn-block go-home" type="button" data-loading-text="Please wait...">
				OK
			</button>
		</div>
		{{else}}
		<form id="register_form" class="account-form" role="form">
			<h2>
				Please sign up
			</h2>
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}
			<input id="register_name" type="text" class="form-control" placeholder="Your full name" required autofocus>
			<input id="register_email" type="text" class="form-control" placeholder="Email address" required>
			<input id="register_password" type="password" class="form-control" placeholder="Password" required>
			<button class="btn btn-lg btn-primary btn-block" type="submit" data-loading-text="Please wait...">
				Sign up
			</button>
			<p class="account-form-text-after">
				Already a member?
				<a href="{{pathFor 'login'}}">
					Sign in here
				</a>
			</p>
		</form>
		{{/if}}
	</div>
</template>

