.hpanel .btn-group ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.hpanel .btn-group li {
  float: left;
}
.hpanel .btn-group li a, .hpanel .btn-group li button{
  text-transform: uppercase;
  border-left: none;
  border-radius: 0 !important;
  box-shadow: none !important;
}
.hpanel .btn-group li:first-child a, .hpanel .btn-group li:first-child button{
  border-left: 1px solid #dedede;
}
.hpanel .btn-group li.active a, .hpanel .btn-group li.active button {
  border-color: #0BBBEF !important;
  background-color: #0BBBEF !important;
  color: #fff !important;
}

#content {
  .flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    align-items: stretch;
  }
  .flex .hpanel{
    background-color: #fff;
  }
  .hpanel.panel-collapse > .panel-heading, .hpanel .hbuilt {
    padding: 15px 12px
  }
  .hpanel .panel-heading {
    position: relative;
  }
  .hpanel.graph .panel-body {
    min-height: 210px;
  }
  .hpanel .panel-body, .hpanel .panel-footer {
    text-align: left;
  }
  .hpanel .panel-body {
    overflow: auto;
  }
  .hpanel .panel-footer {
    border-top: 1px solid #efefef;
  }
  .hpanel .text-gray {
    color: #cfcfcf;
  }
  .hpanel .stat-label {
    text-transform: uppercase;
  }
  .hpanel .panel-body .stat-num {
    font-size: 32px;
  }
  .hpanel .panel-body .stat-num .minute {
    font-size: 14px;
  }
  .hpanel .panel-footer .stat-num {
    font-size: 21px;
  }
  .hpanel .panel-footer .stat-num .minute {
    font-size: 12px;
  }

  .hpanel .nav-tabs {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    border: none !important;
  }
  .hpanel .nav-tabs > li {
    padding: 0;
    margin: 0;
    background: none !important;
  }
  .hpanel .nav-tabs > li > a {
    display: block;
    padding: 3px 30px;
    margin: 0;
    font-size: 12px;
    color: #2e2e2e;
    border-radius: 0;
    border: 1px solid #dedede;
    border-left: none;
  }
  .hpanel .nav-tabs > li:first-child > a {
    border-left: 1px solid #dedede;
    border-radius: 4px 0 0 4px;
  }
  .hpanel .nav-tabs > li:last-child > a {
    border-radius: 0 4px 4px 0;
  }
  .hpanel .nav-tabs > li.active > a {
    color: #fff;
    background: #0BBBEF !important;
    border: 1px solid #0BBBEF !important;
    /*border-radius: 0;*/
  }
  .hpanel select {
    height: 28px;
    padding: 4px;
    min-width: 180px;
    border-radius: 3px;
  }
  .hpanel .select {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
  }
  .hpanel .table {
    font-size: 12px;
    margin: 0;
  }
  .hpanel .table .stat-num {
    font-size: 18px;
  }
  .hpanel .table .stat-num span {
    font-size: 12px;
  }
  .hpanel .table a {
    text-transform: uppercase;
    color: #0BBBEF;
  }
  .hpanel.with-table .panel-body {
    padding: 0;
  }
  .hpanel .finish, .hpanel .not-finish {
    float: left;
    width: 50%;
    text-align: center;
  }
  .hpanel .finish, .hpanel .not-finish {
    font-size: 20px;
    font-weight: bold;
    color: #2e2e2e;
    text-transform: uppercase;
  }
  .hpanel .finish span, .hpanel .not-finish span {
    font-size: 12px;
  }
  .hpanel .total-user {
    float: left;
    width: 100%;
    margin-top: 25px;
    font-size: 20px;
    font-weight: bold;
  }
  .hpanel .total-user span {
    font-size: 14px;
    text-transform: uppercase;
  }
  .hpanel .rect {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    margin: 0 auto 10px;
  }
  .hpanel .finish .rect {
    background-color: #0BBBEF;
  }
  .hpanel .not-finish .rect {
    background-color: #cfcfcf;
  }
  .hpanel .table .large-row td {
    padding: 23px 15px 24px;
  }

  .chart .line {
    stroke-width: 3px;
    fill: none;
  }
  .chart .fill {
    stroke-width: 0;
  }
  .chart .axis .domain {
    fill: none;
  }
  .chart .axis .tick line {
    stroke: #EEE;
    stroke-width: 1px;
  }
  .chart .axis text {
    font-family: 'Montserrat', sans-serif;
    fill: #909090;
    font-size: 12px;
  }
  .chart .blue .line {
    stroke: #0BBBEF;
  }
  .chart .blue rect,
  .chart .blue circle {
    fill: rgba(0,102,203,.65);
  }

  .chart .dark-blue rect,
  .chart .dark-blue circle {
    fill: #0BBBEF;
  }

  .chart .blue .line .fill {
    pointer-events: none;
  }
  .chart .blue .fill {
    fill: rgba(0,102,203,.65);
  }

  .btn-group .btn {
    border-radius: 0;
    padding: 8px 25px;
  }

  .btn-group .btn.active {
    color: #fff !important;
    background-color: #0BBBEF !important;
    border-color: #0BBBEF !important;
    box-shadow: none !important;
  }
}