<template name="TracksDetails">

	<div class="normalheader small-header">
        <div class="hpanel">
            <div class="panel-body">
            	<div class="col-lg-6">
	                <div id="hbreadcrumb" class="">
	                    <ol class="hbreadcrumb breadcrumb">
	                        <li><a class="btn btn-link text-uppercase" href="">Channels</a></li>
	                        <li class=""><a class="btn btn-link" href="">Channel Name #1</a></li>
	                        <li class="active"><a class="btn btn-link text-primary" href="">Track Name</a></li>
	                    </ol>
	                </div>
	            </div>
	            <div class="col-lg-6">
	                <div class="pull-right">
	                	<a class="btn btn-default text-uppercase m-l-sm"><i class="fa fa-edit m-r-xs"></i> Edit Track</a>
	                </div>
	            </div>
            </div>
        </div>
    </div>

	<div class="content" id="content">
		<div class="row">
            <div class="col-lg-3">
                <div class="hpanel">
                	<div class="panel-heading hbuilt bg-dark text-white">
                        Track Views
	            	</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-4">
                                <small class="text-dark stat-label">Today</small>
                                <h4 class="text-dark">1478</h4>
                                <h5 class="text-success">1.3% <i class="fa fa-level-up text-success"></i></h5>
                            </div>
                            <div class="col-xs-4 text-center">
                                <small class="text-dark stat-label">This Week</small>
                                <h4 class="text-dark">3625</h4>
                                <h5 class="text-danger">0.6% <i class="fa fa-level-down text-danger"></i></h5>
                            </div>
                            <div class="col-xs-4 text-right">
                                <small class="text-dark stat-label">All Time</small>
                                <h4 class="text-dark">12500</h4>
                                <h5 class="text-success">3.7% <i class="fa fa-level-up text-success"></i></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="hpanel">
                	<div class="panel-heading hbuilt bg-dark text-white">
                        Track Demographics
	            	</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-6 text-center">
                                <small class="text-dark stat-label">Gender</small>
                                <h4 class="text-dark">W&nbsp;&nbsp;&nbsp;M</h4>
                                <h5 class="text-dark">52%&nbsp;&nbsp;&nbsp;48%</h5>
                            </div>
                            <div class="col-xs-6 text-center">
                                <small class="text-dark stat-label">Age</small>
                                <h4 class="text-dark">18-25</h4>
                                <h5 class="text-dark">12573 users</h5>
                            </div>
                            <!--<div class="col-xs-4">
                                <small class="text-dark stat-label">Location</small>
                                <h4 class="text-dark"><b>37%</b> <i class="fa fa-location text-dark"></i> London, UK</h4>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="hpanel">
                	<div class="panel-heading hbuilt bg-dark text-white">
	                	Top Locations
	            	</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-6">
                                <small class="text-dark stat-label">Today</small>
                                <h4 class="text-dark">London</h4>
                                <h5 class="text-success">15% <i class="fa fa-level-up text-success"></i></h5>
                            </div>
                            <!--<div class="col-xs-4">
                                <small class="text-dark stat-label">This Week</small>
                                <h4 class="text-dark">Barcelona</h4>
                                <h5 class="text-success">24% <i class="fa fa-level-up text-success"></i></h5>
                            </div>-->
                            <div class="col-xs-6 text-right">
                                <small class="text-dark stat-label">All Time</small>
                                <h4 class="text-dark">New York</h4>
                                <h5 class="text-danger">42% <i class="fa fa-level-down text-danger"></i></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="hpanel">
                	<div class="panel-heading hbuilt bg-dark text-white">
	                	Most Active Chat Platform
	            	</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-4">
                                <img class="m-t-xs" style="width:64px;" src="/images/apps/app-logo-messenger.png">
                            </div>
                            <div class="col-xs-8">
                                <small class="text-dark stat-label">Messenger</small>
                                <h4 class="text-dark">150692 views</h4>
                                <h5 class="text-dark">This week</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		{{> TracksDetailsDetailsForm}}
	</div>
</template>

<template name="TracksDetailsDetailsForm">
	<div id="tracks-details-details-form" class="">
		<form role="form" class="form-horizontal">
			<div class="row">
				<div class="col-lg-12">
					{{#if errorMessage}}
					<div class="alert alert-warning">
						{{errorMessage}}
					</div>
					{{/if}}		
				
					{{#if infoMessage}}
					<div class="alert alert-success">
						{{infoMessage}}
					</div>
					{{/if}}
				</div>

				<div class="col-lg-5">
					<div class="hpanel">
			            <div class="panel-heading hbuilt bg-dark text-white">
			            	<a href="#" id="form-back-button" class="text-white m-r-sm" title="back">
								<span class="fa fa-chevron-left"></span>
							</a> Track Details
			            </div>
			            <div class="panel-body">
			                <div class="row">
			                	<div class="col-lg-12">
									<div class="form-group field-name">
										<label for="name" class="col-sm-3 control-label">
											Name
										</label>
										<div class="input-div col-sm-9">
											<p class="form-control-static">
												{{track.name}}
											</p>
										</div>
									</div>
									<div class="form-group field-description">
										<label for="description" class="col-sm-3 control-label">
											Description
										</label>
										<div class="input-div col-sm-9">
											<p class="form-control-static">
												{{track.description}}
											</p>
										</div>
									</div>

									<div class="form-group field-start date">
										<label for="sdate" class="col-sm-3 control-label">
											Start Date
										</label>
										<div class="input-div col-sm-9">
											<p class="form-control-static">
												{{track.sdate}}
											</p>
										</div>
									</div>

						            <div class="form-group field-edate date">
						                <label for="edate" class="col-sm-3 control-label">
						                    End Date
						                </label>
						                <div class="input-div col-sm-9">
						                    <p class="form-control-static">
						                        {{track.edate}}
						                    </p>
						                </div>
						            </div>

						            <div class="form-group field-fb-active">
					                    <label for="fb_plat" class="col-sm-3 control-label">
					                        Messenger
					                    </label>
					                    <div class="input-div col-sm-9">
					                        <p class="form-control-static">
					                            {{track.fb_plat}}
					                        </p>
					                    </div>
					                </div>
					                <div class="form-group  field-kik-active">
					                    <label for="kik_plat" class="col-sm-3 control-label">
					                        Kik
					                    </label>
					                    <div class="input-div col-sm-9">
					                        <p class="form-control-static">
					                            {{track.kik_plat}}
					                        </p>
					                    </div>
					                </div>

					                <div class="form-group field-active">
										<label for="active" class="col-sm-3 control-label">
											Active
										</label>
										<div class="input-div col-sm-9">
											<p class="form-control-static">
												{{booleanToYesNo track.active}}
											</p>
										</div>
									</div>
									<div class="form-group">
										<div class="submit-div col-sm-9 col-sm-offset-3">
											<a href="#" id="form-close-button" class="btn btn-primary">
												OK
											</a>
										</div>
									</div>
						        </div>
						    </div>
						</div>
					</div>
				</div>
				<div class="col-lg-7">
                    <div class="hpanel">
                        <div class="panel-heading hbuilt bg-dark text-white">
                            Views and Performance by Chat Platform
                        </div>
                        <div class="panel-body">
                            <div class="row m-b-md">
                                <div class="col-md-12">
                                    <div style="display: inline-block" class="m-r-xs">
                                        <a href=""><img class="" style="width:32px;opacity:0.3" src="/images/apps/app-logo-whatsapp.png"></a>
                                    </div>
                                    <div style="display: inline-block" class="m-r-xs">
                                        <a href=""><img class="" style="width:32px;opacity:1" src="/images/apps/app-logo-messenger.png"></a>
                                    </div>
                                    <div style="display: inline-block" class="m-r-xs">
                                        <a href=""><img class="" style="width:32px;opacity:0.3" src="/images/apps/app-logo-wechat.png"></a>
                                    </div>
                                    <div style="display: inline-block" class="m-r-xs">
                                        <a href=""><img class="" style="width:32px;opacity:0.3" src="/images/apps/app-logo-kik.png"></a>
                                    </div>
                                    <div style="display: inline-block" class="m-r-xs">
                                        <a href=""><img class="" style="width:32px;opacity:0.3" src="/images/apps/app-logo-line.png"></a>
                                    </div>
                                    <div style="display: inline-block" class="m-r-xs">
                                        <a href=""><img class="" style="width:32px;opacity:0.3" src="/images/apps/app-logo-viber.png"></a>
                                    </div>
                                    <div style="display: inline-block" class="m-r-xs">
                                        <a href=""><img class="" style="width:32px;opacity:0.3" src="/images/apps/app-logo-telegram.png"></a>
                                    </div>
                                    <div style="display: inline-block" class="m-r-xs">
                                        <a href=""><img class="" style="width:32px;opacity:0.3" src="/images/apps/app-logo-talk.png"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <!--<div class="text-center small">
                                        <i class="fa fa-asterisk"></i> Total Views in Messenger
                                    </div>-->
                                    <div>
                                        <canvas id="lineOptions-by-chat-platform" height="160"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<div class="row">
				<div class="col-lg-5">
                    <div class="hpanel">
                        <div class="panel-heading hbuilt bg-dark text-white">
                            Performance by Country
                        </div>
                        <div class="panel-body">
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="hpanel">
                        <div class="panel-heading hbuilt bg-dark text-white">
                            Performance by Gender and Age
                        </div>
                        <div class="panel-body">
                            <div>
                                <canvas id="barOptions-gender-age" height="140"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</form>
	</div>
</template>

