<template name="CampaignsDetails0">

	<div class="normalheader small-header">
        <div class="hpanel">
            <div class="panel-body">

                <div class="col-lg-6 col-md-6 col-sm-6">
	                <div id="hbreadcrumb" class="">
	                    <ol class="hbreadcrumb breadcrumb">
                            <li class="">
                                <a class="btn btn-link
                                                   text-uppercase
                                                   text-ellipsis"
                                            href="{{pathFor route='campaigns'}}">Analytics</a>
                            </li>
	                        <!--<li class="active"><a class="btn btn-link text-primary" href="">{{campaign.name}}</a></li>-->
	                    </ol>
	                </div>
	            </div>

	            <div class="col-lg-6 col-md-6 col-sm-6">
	                <div class="pull-right">
                        <!--<a href="../edit/{{campaign._id}}" class="btn btn-default text-uppercase m-l-sm"><i class="fa fa-eye m-r-xs"></i> View Details</a>-->
	                	<!--<a class="btn btn-default text-uppercase m-l-sm"><i class="fa fa-edit m-r-xs"></i> Open Editor</a>-->
                        <!--{{> CBuilder }}-->

                        <a href="#" class="btn btn-default text-uppercase m-l-sm"><i class="fa fa-eye m-r-xs"></i>Daily</a>
                        <a href="#" class="btn btn-default text-uppercase m-l-sm"><i class="fa fa-eye m-r-xs"></i>Weekly</a>
                        <a href="#" class="btn btn-default text-uppercase m-l-sm"><i class="fa fa-eye m-r-xs"></i>Monthly</a>


	                </div>
	            </div>
            </div>
        </div>
    </div>

	<div class="content" id="content">
		<div class="row">

            <div class="col-lg-2 col-md-1">
                <div class="hpanel">
                    <div class="panel-heading hbuilt wborder bg-white text-dark">
                        Views
                    </div>
                    <div class="panel-body">
                        <div class="row-centered">
                            <div class="col-centered text-center">
                                <small class="stat-label text-center">
                                    Today
                                </small>
                            </div>
                            <div class="col-centered text-center">
                                    {{totalUser}}
                            </div>
                            <div class="col-centered text-center">
                                <small class="stat-label text-center">
                                    9.8%
                                </small>
                            </div>
                            <div class="col-centered text-center">
                                <small class="stat-label text-center">
                                    jjj
                                </small>
                            </div>
                            <div class="col-centered text-center">
                                128,000
                            </div>
                            <div class="col-centered text-center">
                                <small class="stat-label text-center">
                                    ALL TIME
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-1">
                <div class="hpanel">
                    <div class="panel-heading hbuilt wborder bg-white text-dark">
                        Views
                    </div>
                    <div class="panel-body">
                        <div class="row-centered">
                            <div class="col-centered text-center">
                                <small class="stat-label text-center">
                                    Today
                                </small>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-1">
                <div class="hpanel">
                    <div class="panel-heading hbuilt wborder bg-white text-dark">
                        Views
                    </div>
                    <div class="panel-body">
                        <div class="row-centered">
                            <div class="col-centered text-center">
                                <small class="stat-label text-center">
                                    Today
                                </small>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-1">
                <div class="hpanel">
                    <div class="panel-heading hbuilt wborder bg-white text-dark">
                        Views
                    </div>
                    <div class="panel-body">
                        <div class="row-centered">
                            <div class="col-centered text-center">
                                <small class="stat-label text-center">
                                    Today
                                </small>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-1">
                <div class="hpanel">
                    <div class="panel-heading hbuilt wborder bg-white text-dark">
                        Views
                    </div>
                    <div class="panel-body">
                        <div class="row-centered">
                            <div class="col-centered text-center">
                                <small class="stat-label text-center">
                                    Today
                                </small>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-1">

                <div class="hpanel">
                	<div class="panel-heading hbuilt wborder bg-white text-dark">
	                	Views
	            	</div>
                    <div class="panel-body">
                        <div class="row-centered">
                            <div class="col-centered text-center">

                                    <small class="stat-label
                                                  text-center">
                                        Today
                                    </small>

                            </div>
                            <!--<div class="col-xs-1 text-center">-->
                                <!--<small class="text-dark stat-label">Today</small>-->
                                <!--<h4 class="text-dark">1478</h4>-->
                                <!--<h5 class="text-success">1.3% <i class="fa fa-level-up text-success"></i></h5>-->
                            <!--</div>-->
                            <!--<div class="col-xs-4 text-center">-->
                                <!--<small class="text-dark stat-label">This Week</small>-->
                                <!--<h4 class="text-dark">3625</h4>-->
                                <!--<h5 class="text-danger">0.6% <i class="fa fa-level-down text-danger"></i></h5>-->
                            <!--</div>-->
                            <!--<div class="col-xs-4 text-right">-->
                                <!--<small class="text-dark stat-label">All Time</small>-->
                                <!--<h4 class="text-dark">12500</h4>-->
                                <!--<h5 class="text-success">3.7% <i class="fa fa-level-up text-success"></i></h5>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="col-lg-3 col-md-6">-->
                <!--<div class="hpanel">-->
                	<!--<div class="panel-heading hbuilt wborder bg-white text-dark">-->
	                	<!--Campaign Demographics-->
	            	<!--</div>-->
                    <!--<div class="panel-body">-->
                        <!--<div class="row">-->
                            <!--<div class="col-xs-6 text-center">-->
                                <!--<small class="text-dark stat-label">Gender</small>-->
                                <!--<h4 class="text-dark">W&nbsp;&nbsp;&nbsp;M</h4>-->
                                <!--<h5 class="text-dark">52%&nbsp;&nbsp;&nbsp;48%</h5>-->
                            <!--</div>-->
                            <!--<div class="col-xs-6 text-center">-->
                                <!--<small class="text-dark stat-label">Age</small>-->
                                <!--<h4 class="text-dark">18-25</h4>-->
                                <!--<h5 class="text-dark">12573 users</h5>-->
                            <!--</div>-->
                            <!--&lt;!&ndash;<div class="col-xs-4">-->
                                <!--<small class="text-dark stat-label">Location</small>-->
                                <!--<h4 class="text-dark"><b>37%</b> <i class="fa fa-location text-dark"></i> London, UK</h4>-->
                            <!--</div>&ndash;&gt;-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-lg-3 col-md-6">-->
                <!--<div class="hpanel">-->
                	<!--<div class="panel-heading hbuilt wborder bg-white text-dark">-->
	                	<!--Top Locations-->
	            	<!--</div>-->
                    <!--<div class="panel-body">-->
                        <!--<div class="row">-->
                            <!--<div class="col-xs-6">-->
                                <!--<small class="text-dark stat-label">Today</small>-->
                                <!--<h4 class="text-dark">London</h4>-->
                                <!--<h5 class="text-success">15% <i class="fa fa-level-up text-success"></i></h5>-->
                            <!--</div>-->
                            <!--&lt;!&ndash;<div class="col-xs-4">-->
                                <!--<small class="text-dark stat-label">This Week</small>-->
                                <!--<h4 class="text-dark">Barcelona</h4>-->
                                <!--<h5 class="text-success">24% <i class="fa fa-level-up text-success"></i></h5>-->
                            <!--</div>&ndash;&gt;-->
                            <!--<div class="col-xs-6 text-right">-->
                                <!--<small class="text-dark stat-label">All Time</small>-->
                                <!--<h4 class="text-dark">New York</h4>-->
                                <!--<h5 class="text-danger">42% <i class="fa fa-level-down text-danger"></i></h5>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-lg-3 col-md-6">
                <div class="hpanel">
                	<div class="panel-heading hbuilt wborder bg-white text-dark">
	                	Most Active Chat Platform
	            	</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-4">
                                <img class="m-t-xs" style="width:64px;" src="/images/apps/app-logo-messenger.png">
                            </div>
                            <div class="col-xs-8">
                                <small class="text-dark stat-label">Messenger</small>
                                <h4 class="text-dark">150692 views</h4>
                                <h5 class="text-dark">This week</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
            <!--{{> mostActiveChatPlatform }}-->
        </div>
		{{> CampaignsDetailsDetailsForm}}
	</div>
</template>

<template name="CampaignsDetailsDetailsForm0">
	<div id="campaigns-details-details-form" class="">
		<form role="form" class="form-horizontal">
			<div class="row">
				<div class="col-lg-12">
					{{#if errorMessage}}
					<div class="alert alert-warning">
						{{errorMessage}}
					</div>
					{{/if}}		
				
					{{#if infoMessage}}
					<div class="alert alert-success">
						{{infoMessage}}
					</div>
					{{/if}}
				</div>
            </div>
				<!--<div class="col-lg-5">
					<div class="hpanel">
			            <div class="panel-heading hbuilt wborder bg-white text-dark">
			            	<a href="#" id="form-back-button" class="text-white m-r-sm" title="back">
								<span class="fa fa-chevron-left"></span>
							</a> Campaign Details
			            </div>
			            <div class="panel-body">
			                <div class="row">
			                	<div class="col-lg-12">
									<div class="form-group field-name">
										<label for="name" class="col-sm-3 control-label">
											Name
										</label>
										<div class="input-div col-sm-9">
											<p class="form-control-static">
												{{campaign.name}}
											</p>
										</div>
									</div>
									<div class="form-group field-description">
										<label for="description" class="col-sm-3 control-label">
											Description
										</label>
										<div class="input-div col-sm-9">
											<p class="form-control-static">
												{{campaign.description}}
											</p>
										</div>
									</div>

									<div class="form-group field-start date">
										<label for="sdate" class="col-sm-3 control-label">
											Start Date
										</label>
										<div class="input-div col-sm-9">
											<p class="form-control-static">
												{{campaign.sdate}}
											</p>
										</div>
									</div>

						            <div class="form-group field-edate date">
						                <label for="edate" class="col-sm-3 control-label">
						                    End Date
						                </label>
						                <div class="input-div col-sm-9">
						                    <p class="form-control-static">
						                        {{campaign.edate}}
						                    </p>
						                </div>
						            </div>

						            <div class="form-group field-fb-active">
					                    <label for="fb_plat" class="col-sm-3 control-label">
					                        Messenger
					                    </label>
					                    <div class="input-div col-sm-9">
					                        <p class="form-control-static">
					                            {{campaign.fb_plat}}
					                        </p>
					                    </div>
					                </div>
					                <div class="form-group  field-kik-active">
					                    <label for="kik_plat" class="col-sm-3 control-label">
					                        Kik
					                    </label>
					                    <div class="input-div col-sm-9">
					                        <p class="form-control-static">
					                            {{campaign.kik_plat}}
					                        </p>
					                    </div>
					                </div>

					                <div class="form-group field-active">
										<label for="active" class="col-sm-3 control-label">
											Active
										</label>
										<div class="input-div col-sm-9">
											<p class="form-control-static">
												{{booleanToYesNo campaign.active}}
											</p>
										</div>
									</div>
									<div class="form-group">
										<div class="submit-div col-sm-9 col-sm-offset-3">
											<a href="#" id="form-close-button" class="btn btn-primary">
												OK
											</a>
										</div>
									</div>
						        </div>
						    </div>
						</div>
					</div>
				</div>-->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hpanel">
                            <!--<div class="panel-heading hbuilt wborder bg-white text-dark">-->
                                <!--Views and Performance by Chat Platform-->
                            <!--</div>-->
                            <div class="panel-body" style="min-height:340px">

                                <ul class="nav nav-pills">
                                    <li class="active"><a href="#">Home</a></li>
                                    <li class="active"><a href="#">Menu 1</a></li>
                                    <li class="active"><a href="#">Menu 2</a></li>
                                    <li class="active"><a href="#">Menu 3</a></li>
                                    <li class="active"><a href="#">Menu 3</a></li>
                                    <li class="active"><a href="#">Menu 3</a></li>
                                    <li class="active"><a href="#">Menu 3</a></li>
                                </ul>

                                <div class="row">
                                    <div class="col-md-12">
                                        <!--<div class="text-center small">
                                            <i class="fa fa-asterisk"></i> Total Views in Messenger
                                        </div>-->
                                        <div>
                                            <canvas id="lineOptions-by-chat-platform" height="100"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="hpanel">
                            <div class="panel-heading hbuilt wborder bg-white text-dark">
                                a
                            </div>
                            <div class="panel-body" style="min-height:340px">
                                <canvas id="doughnutChart1" height="180"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="hpanel">
                            <div class="panel-heading hbuilt wborder bg-white text-dark">
                                a
                            </div>
                            <div class="panel-body" style="min-height:340px">
                                <canvas id="doughnutChart2" height="180"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="hpanel">
                            <div class="panel-heading hbuilt wborder bg-white text-dark">
                                a
                            </div>
                            <div class="panel-body" style="min-height:340px">
                                <canvas
                                        id="barOptions-gender-age1" height="180">

                                </canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="hpanel">
                            <div class="panel-heading hbuilt wborder bg-white text-dark">
                                a
                            </div>
                            <div class="panel-body" style="min-height:340px">
                                <canvas
                                        id="barOptions-gender-age2" height="180">
                                </canvas>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="hpanel">
                        <div class="panel-heading hbuilt wborder bg-white text-dark">
                            a
                        </div>
                        <div class="panel-body" style="min-height:340px">
                            {{> ConTable}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="hpanel">
                        <div class="panel-heading hbuilt wborder bg-white text-dark">
                            a
                        </div>
                        <div class="panel-body" style="min-height:340px">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div>
                                        <canvas id="doughnutChart3" height="170"></canvas>

                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="hpanel">
                        <div class="panel-heading hbuilt wborder bg-white text-dark">
                            a
                        </div>
                        <div class="panel-body" style="min-height:340px">
                            {{> ConTable}}
                        </div>
                    </div>
                </div>
            </div>




                <!--<div class="col-lg-4">-->
                    <!--<div class="hpanel tour-6">-->
                        <!--<div class="panel-heading hbuilt wborder bg-white text-dark">-->
                            <!--Response Rate-->
                        <!--</div>-->
                        <!--<div class="panel-body" style="min-height:340px">-->
                            <!--<div class="row">-->
                                <!--<div class="col-sm-12">-->
                                    <!--<div>-->
                                        <!--<canvas id="doughnutChart" height="180"></canvas>-->
                                    <!--</div>-->
                                <!--</div> -->
                            <!--</div>-->
                            <!--<div class="row m-t-md">-->
                                <!--<div class="col-sm-6">-->
                                    <!--<small class="text-dark stat-label">Participation</small>-->
                                    <!--<h4 class="text-dark">50102</h4>-->
                                    <!--<h5 class="text-success">15% <i class="fa fa-level-up text-success"></i></h5>-->
                                <!--</div>-->
                                <!--<div class="col-sm-6 text-right">-->
                                    <!--<small class="text-dark stat-label">Active Users</small>-->
                                    <!--<h4 class="text-dark">300102</h4>-->
                                    <!--<h5 class="text-danger">1% <i class="fa fa-level-down text-danger"></i></h5>-->
                                <!--</div>-->
                            <!--</div> -->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

			<!--<div class="row">-->
				<!--<div class="col-lg-5">-->
                    <!--<div class="hpanel">-->
                        <!--<div class="panel-heading hbuilt wborder bg-white text-dark">-->
                            <!--Performance by Country-->
                        <!--</div>-->
                        <!--<div class="panel-body" style="min-height:340px">-->
                            <!--<img style="width:100%" src="/images/country-chart.png">-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-lg-7">-->
                    <!--<div class="hpanel">-->
                        <!--<div class="panel-heading hbuilt wborder bg-white text-dark">-->
                            <!--Performance by Gender and Age-->
                        <!--</div>-->
                        <!--<div class="panel-body" style="min-height:340px">-->
                            <!--<div>-->
                                <!--<canvas id="barOptions-gender-age" height="140"></canvas>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
			<!--</div>-->
            <!--
            <div class="row">
                <div class="col-lg-12">
                    <div class="hpanel">
                        <div class="panel-heading hbuilt wborder bg-white text-dark">
                            Actions Statistics
                        </div>
                        <div class="panel-body" style="padding-top:0;padding-bottom:0">
                            <div class="row">
                                <div class="col-md-4 no-padding">
                                    <div class="panel-group">
                                        <div id="notes" class="collapse">
                                            <div class="panel-body note-link">
                                                <a href="#note1" data-toggle="tab">
                                                    <h5 class="text-dark">http://fashiontrends.com</h5>
                                                    <div class="small text-dark">
                                                        Lorem ipsum dolor sit amet
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="panel-body note-link">
                                                <a href="#note2" data-toggle="tab">
                                                    <h5 class="text-dark">
                                                        Do you want to join? Yes or No?
                                                    </h5>
                                                    <div class="small text-dark">
                                                        Lorem ipsum dolor sit amet
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="panel-body note-link">
                                                <a href="#note3" data-toggle="tab">
                                                    <h5 class="text-dark">
                                                        Which one do you prefer? Red or Blue?
                                                    </h5>
                                                    <div class="small text-dark">
                                                        Lorem ipsum dolor sit amet
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="panel-body note-link">
                                                <a href="#note4" data-toggle="tab">
                                                    <h5 class="text-dark">
                                                        Please, write your email address
                                                    </h5>
                                                    <div class="small text-dark">
                                                        Lorem ipsum dolor sit amet
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="panel-body note-link">
                                                <a href="#note5" data-toggle="tab">
                                                    <h5 class="text-dark">
                                                        http://offers.fashiontrends.com
                                                    </h5>
                                                    <div class="small text-dark">
                                                        Lorem ipsum dolor sit amet
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8 no-padding" style="border-left:1px solid #efefef">
                                    <div class="">
                                        <div class="panel-body">
                                            <div class="text-center text-dark hidden">
                                                We couldn't find any notes for you.
                                            </div>
                                            <div class="tab-content">
                                                <div id="note1" class="tab-pane active">
                                                    <h3 class="m-t-none text-dark">http://fashiontrends.com</h3>
                                                    <div class="note-content" style="min-height:320px">

                                                    </div>
                                                    <div class="btn-group">
                                                    </div>
                                                </div>

                                                <div id="note2" class="tab-pane">
                                                    <h3 class="m-t-none text-dark">Do you want to join? Yes or No?</h3>
                                                    <div class="note-content" style="min-height:320px">
              
                                                    </div>
                                                    <div class="btn-group">
                                                    </div>
                                                </div>

                                                <div id="note3" class="tab-pane">
                                                    <h3 class="m-t-none text-dark">Which one do you prefer? Red or Blue?</h3>
                                                    <div class="note-content" style="min-height:320px">

                                                    </div>
                                                    <div class="btn-group">
                                                    </div>
                                                </div>

                                                <div id="note4" class="tab-pane">
                                                    <h3 class="m-t-none text-dark">Please, write your email address</h3>
                                                    <div class="note-content" style="min-height:320px">

                                                    </div>
                                                    <div class="btn-group">
                                                    </div>
                                                </div>

                                                <div id="note5" class="tab-pane">
                                                    <h3 class="m-t-none text-dark">http://offers.fashiontrends.com</h3>
                                                    <div class="note-content" style="min-height:320px">
          
                                                    </div>
                                                    <div class="btn-group">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            -->


		</form>
	</div>
</template>

<template name="ConTable0">
    <table id="dataview-table" class="table table-hover tour-5">
        <thead id="dataview-table-header">
        <tr id="dataview-table-header-row">
            <th class="th-sortable" data-sort="groupname" style="border-radius: 2px 0 0 0">
                Group Name <span class="pull-right m-r-sm"><i class="fa fa-sort"></i></span>
            </th>
            <th class="th-sortable" data-sort="members">
                Members <span class="pull-right m-r-sm"><i class="fa fa-sort"></i></span>
            </th>
            <th class="th-sortable" data-sort="filters">
                Filters <span class="pull-right m-r-sm"><i class="fa fa-sort"></i></span>
            </th>
            <th class="th-sortable" data-sort="lastmodified">
                Last modified <span class="pull-right m-r-sm"><i class="fa fa-sort"></i></span>
            </th>
            <th>
                &nbsp;
            </th>
            <th style="border-radius: 0 2px 0 0">
                &nbsp;
            </th>
        </tr>
        </thead>
        <!--<tbody id="dataview-table-items">
			{{#each tableItems}} {{> AudienceViewTableItems}} {{/each}}
		</tbody>-->
        <tbody id="">
        <tr id="">
            <td class="va-middle">
                Influencers Europe
            </td>
            <td class="va-middle">
                1247 members
            </td>
            <td class="va-middle">
                <ul class="m-b-none" style="list-style:none;padding:0">
                    <li><b>Gender:</b> Male & Female</li>
                    <li><b>Location:</b> Europe</li>
                </ul>
            </td>
            <td class="va-middle">
                05/01/2016 17:46 PM
            </td>
            <td class="td-icon va-middle">
                <span id="" class="fa fa-pencil" title="Edit"></span>
            </td>
            <td class="td-icon va-middle">
                <span id="" class="fa fa-trash-o" title="Delete"></span>
            </td>
        </tr>
        <tr id="">
            <td class="va-middle">
                New York Men Youth
            </td>
            <td class="va-middle">
                8776 members
            </td>
            <td class="va-middle">
                <ul class="m-b-none" style="list-style:none;padding:0">
                    <li><b>Gender:</b> Male</li>
                    <li><b>Age:</b> 12 - 18</li>
                    <li><b>Location:</b> New York</li>
                </ul>
            </td>
            <td class="va-middle">
                12/01/2016 09:33 PM
            </td>
            <td class="td-icon va-middle">
                <span id="" class="fa fa-pencil" title="Edit"></span>
            </td>
            <td class="td-icon va-middle">
                <span id="" class="fa fa-trash-o" title="Delete"></span>
            </td>
        </tr>
        <tr id="">
            <td class="va-middle">
                New York Women Youth
            </td>
            <td class="va-middle">
                9134 members
            </td>
            <td class="va-middle">
                <ul class="m-b-none" style="list-style:none;padding:0">
                    <li><b>Gender:</b> Female</li>
                    <li><b>Age:</b> 12 - 18</li>
                    <li><b>Location:</b> New York</li>
                </ul>
            </td>
            <td class="va-middle">
                12/01/2016 09:25 PM
            </td>
            <td class="td-icon va-middle">
                <span id="" class="fa fa-pencil" title="Edit"></span>
            </td>
            <td class="td-icon va-middle">
                <span id="" class="fa fa-trash-o" title="Delete"></span>
            </td>
        </tr>
        </tbody>
    </table>
</template>

