<template name="dashboard">



        <div class="normalheader small-header">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="col-lg-3 col-md-2">
                        <div id="hbreadcrumb" class="">
                            <ol class="hbreadcrumb breadcrumb">
                                <li class="active"><a class="btn btn-link text-primary text-uppercase" href="{{pathFor route='dashboard'}}">Analytics</a></li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-10">
                        <div class="pull-right hidden-sm hidden-xs">
                            <a style="text-decoration:none !important" class="btn btn-link">View your Results:</a> 
                            <input style="max-width: 120px;" id="datapicker-analytics-1" type="text" value="" placeholder="Start Date" class="btn btn-default text-uppercase"> 
                            <input style="max-width: 120px;" id="datapicker-analytics-2" type="text" value="" placeholder="End Date" class="btn btn-default text-uppercase m-l-xs">
                            <a class="btn btn-primary text-uppercase m-l-sm"><i class="fa fa-download m-r-xs"></i> Download Report</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="content">

            <div class="row">
                <div class="col-lg-12">
                    <div class="hpanel">
                        <div class="panel-heading introbox hbuilt wborder bg-white text-dark">
                            &nbsp;
                            <div class="panel-tools">
                                <a class="closebox"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                        <div class="panel-body introbox">
                            <div class="row">
                                <div class="col-lg-6 hidden-md hidden-sm hidden-xs" style="padding-left:0">
                                    <img style="width:100%" src="/images/intro-analytics.png">
                                </div>
                                <div class="col-lg-6 col-md-10 col-sm-10 col-xs-12">
                                    <h3 class="text-dark m-t-none m-b-sm">Welcome to your Analytics Dashboard!</h3>
                                    <p class="text-dark m-t-none m-b-md">Get an aggregated view of the overall performance of your campaigns, including geo and platform breakdowns.</p>
                                    <button class="btn btn-sm btn-primary text-uppercase m-r-sm run-tour-analytics">Start the Tour</button>
                                    <a href="{{pathFor route='support'}}" class="btn btn-sm btn-default text-uppercase">Visit our Support Section</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="hpanel tour-1">
                        <div class="panel-heading hbuilt wborder bg-white text-dark">
                            Total Interactions
                        </div>
                        <div class="panel-body" style="min-height: 115px;">
                            <div class="row">
                                <div class="col-xs-6">
                                    <small class="text-dark stat-label">
                                        Participation
                                    </small>
                                    <h3 class="text-dark">{{userParticipation}}</h3>
                                    <h5 class="text-success">12% <i class="fa fa-level-up text-success"></i></h5>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <small class="text-dark stat-label">
                                        Active Users
                                    </small>
                                    <h3 class="text-dark">300350</h3>
                                    <h5 class="text-danger">37% <i class="fa fa-level-down text-danger"></i></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="hpanel tour-2">
                        <div class="panel-heading hbuilt wborder bg-white text-dark">
                            Campaign Views
                        </div>
                        <div class="panel-body" style="min-height: 115px;">
                            <div class="row">
                                <div class="col-xs-7">
                                    <div class="flot-chart">
                                        <div class="flot-chart-content" id="campaigns-views-chart" style="height: 75px"></div>
                                    </div>
                                </div>
                                <div class="col-xs-5 text-right">
                                    <small class="text-dark stat-label">Average</small>
                                    <h3 class="text-dark">24254</h3>
                                    <h5 class="text-success">16% <i class="fa fa-level-up text-success"></i></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="hpanel tour-3">
                        <div class="panel-heading hbuilt wborder bg-white text-dark">
                            Audience Growth
                        </div>
                        <div class="panel-body" style="min-height: 115px;">
                            <div class="row">
                                <div class="col-xs-6">
                                    <small class="text-dark stat-label">New Users</small>
                                    <h3 class="text-dark">{{userParticipation}}</h3>
                                    <h5 class="text-dark">This week</h5>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <small class="text-dark stat-label">Growth Rate</small>
                                    <h3 class="text-success">{{userParticipationPrecent}} <i class="fa fa-level-up text-success"></i> </h3>
                                    <h5 class="text-dark">Overall</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="hpanel tour-4">
                        <div class="panel-heading hbuilt wborder bg-white text-dark">
                            Most Active Chat Platform
                        </div>
                        <div class="panel-body" style="min-height: 115px;">
                            <div class="row">
                                <div class="col-xs-4">
                                    <img class="m-t-sm" style="width:64px;" src="{{mostActiveByIcon}}">
                                </div>
                                <div class="col-xs-8">
                                    <small class="text-dark stat-label">{{mostActiveChatPlatform}}</small>
                                    <h3 class="text-dark">{{mostActiveByView}} views</h3>
                                    <h5 class="text-dark">This week</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8">
                    <div class="hpanel tour-5">
                        <div class="panel-heading hbuilt wborder bg-white text-dark">
                            Views and Performance
                        </div>
                        <div class="panel-body" style="min-height:350px">
                            <div class="row">
                                <div class="col-md-8">
                                    <div>
                                        <canvas id="lineOptions" height="180"></canvas>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row m-b-lg">
                                        <div class="col-xs-6">
                                            <small class="text-dark stat-label">Total Views</small>
                                            <h4 class="text-dark">1259102</h4>
                                            <h5 class="text-success">7% <i class="fa fa-level-up text-success"></i></h5>
                                        </div>
                                        <div class="col-xs-6">
                                            <small class="text-dark stat-label">Per Campaign</small>
                                            <h4 class="text-dark">14593</h4>
                                            <h5 class="text-danger">3% <i class="fa fa-level-down text-danger"></i></h5>
                                        </div>
                                    </div>
                                    <div class="row m-b-lg">
                                        <div class="col-xs-6">
                                            <small class="text-dark stat-label">Actions Performed</small>
                                            <h4 class="text-dark">687412</h4>
                                            <h5 class="text-success">7% <i class="fa fa-level-up text-success"></i></h5>
                                        </div>
                                        <div class="col-xs-6">
                                            <small class="text-dark stat-label">Per Campaign</small>
                                            <h4 class="text-dark">983</h4>
                                            <h5 class="text-danger">3% <i class="fa fa-level-down text-danger"></i></h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <small class="text-dark stat-label">New Users</small>
                                            <h4 class="text-dark">57322</h4>
                                            <h5 class="text-success">12% <i class="fa fa-level-up text-success"></i></h5>
                                        </div>
                                        <div class="col-xs-6">
                                            <small class="text-dark stat-label">Per Campaign</small>
                                            <h4 class="text-dark">7593</h4>
                                            <h5 class="text-danger">5% <i class="fa fa-level-down text-danger"></i></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="hpanel tour-6">
                        <div class="panel-heading hbuilt wborder bg-white text-dark">
                            Conversion Rate
                        </div>
                        <div class="panel-body" style="min-height:350px">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div>
                                        <canvas id="doughnutChart" height="180"></canvas>
                                    </div>
                                </div> 
                            </div>
                            <div class="row m-t-md">
                                <div class="col-sm-6">
                                    <small class="text-dark stat-label">Total Reach</small>
                                    <h4 class="text-dark">50102</h4>
                                    <h5 class="text-success">15% <i class="fa fa-level-up text-success"></i></h5>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <small class="text-dark stat-label">Active Users</small>
                                    <h4 class="text-dark">300102</h4>
                                    <h5 class="text-danger">1% <i class="fa fa-level-down text-danger"></i></h5>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="hpanel tour-7">
                        <div class="panel-heading hbuilt wborder bg-white text-dark">
                            Performance over time
                        </div>
                        <div class="panel-body" style="min-height:380px">
                            <div class="row m-b-md">
                                <div class="col-md-12">
                                    <div style="display: inline-block" class="m-r-xs">
                                        <a href=""><img class="" style="width:32px;opacity:0.3" src="/images/apps/app-logo-whatsapp.png"></a>
                                    </div>
                                    <div style="display: inline-block" class="m-r-xs">
                                        <a href=""><img class="" style="width:32px;opacity:1" src="/images/apps/app-logo-messenger.png"></a>
                                    </div>
                                    <div style="display: inline-block" class="m-r-xs">
                                        <a href=""><img class="" style="width:32px;opacity:0.3" src="/images/apps/app-logo-wechat.png"></a>
                                    </div>
                                    <div style="display: inline-block" class="m-r-xs">
                                        <a href=""><img class="" style="width:32px;opacity:0.3" src="/images/apps/app-logo-kik.png"></a>
                                    </div>
                                    <div style="display: inline-block" class="m-r-xs">
                                        <a href=""><img class="" style="width:32px;opacity:0.3" src="/images/apps/app-logo-line.png"></a>
                                    </div>
                                    <div style="display: inline-block" class="m-r-xs">
                                        <a href=""><img class="" style="width:32px;opacity:0.3" src="/images/apps/app-logo-viber.png"></a>
                                    </div>
                                    <div style="display: inline-block" class="m-r-xs">
                                        <a href=""><img class="" style="width:32px;opacity:0.3" src="/images/apps/app-logo-telegram.png"></a>
                                    </div>
                                    <div style="display: inline-block" class="m-r-xs">
                                        <a href=""><img class="" style="width:32px;opacity:0.3" src="/images/apps/app-logo-talk.png"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <!--<div class="text-center small">
                                        <i class="fa fa-asterisk"></i> Total Views in Messenger
                                    </div>-->
                                    <div>
                                        <canvas id="lineOptions-by-chat-platform" height="150"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="hpanel tour-8">
                        <div class="panel-heading hbuilt wborder bg-white text-dark">
                            Activity by Chat Platform
                        </div>
                        <div class="panel-body" style="min-height:380px">
                            <div class="row">
                                <div class="col-sm-6 m-b-md">
                                    <div class="col-sm-3 no-padding">
                                    <img class="" style="width:48px;float:left;" src="/images/apps/app-logo-whatsapp.png">
                                    </div>
                                    <div class="col-sm-9 no-padding">
                                        <h4 class="text-primary m-t-xs m-b-none">45,2%</h4>
                                        <div class="progress m-t-xs full progress-small">
                                            <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="90"
                                                 role="progressbar" class=" progress-bar progress-bar-success">
                                                <span class="sr-only">45,2%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                                <div class="col-sm-6 m-b-md">
                                    <div class="col-sm-3 no-padding">
                                    <img class="" style="width:48px;float:left;" src="/images/apps/app-logo-messenger.png">
                                    </div>
                                    <div class="col-sm-9 no-padding">
                                        <h4 class="text-primary m-t-xs m-b-none">{{userParticipationPrecent_FB}}%</h4>
                                        <div class="progress m-t-xs full progress-small">
                                            <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="80"
                                                 role="progressbar" class=" progress-bar progress-bar-success">
                                                <span class="sr-only">29,3%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                            <div class="row">
                                <div class="col-sm-6 m-b-md">
                                    <div class="col-sm-3 no-padding">
                                    <img class="" style="width:48px;float:left;" src="/images/apps/app-logo-wechat.png">
                                    </div>
                                    <div class="col-sm-9 no-padding">
                                        <h4 class="text-primary m-t-xs m-b-none">25,2%</h4>
                                        <div class="progress m-t-xs full progress-small">
                                            <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="60"
                                                 role="progressbar" class=" progress-bar progress-bar-success">
                                                <span class="sr-only">25,2%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                                <div class="col-sm-6 m-b-md">
                                    <div class="col-sm-3 no-padding">
                                    <img class="" style="width:48px;float:left;" src="/images/apps/app-logo-kik.png">
                                    </div>
                                    <div class="col-sm-9 no-padding">
                                        <h4 class="text-primary m-t-xs m-b-none">{{userParticipationPrecent_Kik}}%</h4>
                                        <div class="progress m-t-xs full progress-small">
                                            <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="40"
                                                 role="progressbar" class=" progress-bar progress-bar-success">
                                                <span class="sr-only">19,3%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                  
                            </div>
                            <div class="row">
                                <div class="col-sm-6 m-b-md">
                                    <div class="col-sm-3 no-padding">
                                    <img class="" style="width:48px;float:left;" src="/images/apps/app-logo-line.png">
                                    </div>
                                    <div class="col-sm-9 no-padding">
                                        <h4 class="text-primary m-t-xs m-b-none">25,2%</h4>
                                        <div class="progress m-t-xs full progress-small">
                                            <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="60"
                                                 role="progressbar" class=" progress-bar progress-bar-success">
                                                <span class="sr-only">25,2%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                                <div class="col-sm-6 m-b-md">
                                    <div class="col-sm-3 no-padding">
                                    <img class="" style="width:48px;float:left;" src="/images/apps/app-logo-viber.png">
                                    </div>
                                    <div class="col-sm-9 no-padding">
                                        <h4 class="text-primary m-t-xs m-b-none">19,3%</h4>
                                        <div class="progress m-t-xs full progress-small">
                                            <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="40"
                                                 role="progressbar" class=" progress-bar progress-bar-success">
                                                <span class="sr-only">19,3%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                  
                            </div>
                            <div class="row">
                                <div class="col-sm-6 m-b-md">
                                    <div class="col-sm-3 no-padding">
                                    <img class="" style="width:48px;float:left;" src="/images/apps/app-logo-telegram.png">
                                    </div>
                                    <div class="col-sm-9 no-padding">
                                        <h4 class="text-primary m-t-xs m-b-none">25,2%</h4>
                                        <div class="progress m-t-xs full progress-small">
                                            <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="60"
                                                 role="progressbar" class=" progress-bar progress-bar-success">
                                                <span class="sr-only">25,2%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                                <div class="col-sm-6 m-b-md">
                                    <div class="col-sm-3 no-padding">
                                    <img class="" style="width:48px;float:left;" src="/images/apps/app-logo-talk.png">
                                    </div>
                                    <div class="col-sm-9 no-padding">
                                        <h4 class="text-primary m-t-xs m-b-none">19,3%</h4>
                                        <div class="progress m-t-xs full progress-small">
                                            <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="40"
                                                 role="progressbar" class=" progress-bar progress-bar-success">
                                                <span class="sr-only">19,3%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                  
                            </div>
                            <div class="row">
                                <div class="col-sm-6 m-b-md">
                                    <div class="col-sm-3 no-padding">
                                    <img class="" style="width:48px;float:left;" src="/images/apps/app-logo-tango.png">
                                    </div>
                                    <div class="col-sm-9 no-padding">
                                        <h4 class="text-primary m-t-xs m-b-none">25,2%</h4>
                                        <div class="progress m-t-xs full progress-small">
                                            <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="60"
                                                 role="progressbar" class=" progress-bar progress-bar-success">
                                                <span class="sr-only">25,2%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                                <div class="col-sm-6 m-b-md">
                                    <div class="col-sm-3 no-padding">
                                    <img class="" style="width:48px;float:left;" src="/images/apps/app-logo-qq.png">
                                    </div>
                                    <div class="col-sm-9 no-padding">
                                        <h4 class="text-primary m-t-xs m-b-none">19,3%</h4>
                                        <div class="progress m-t-xs full progress-small">
                                            <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="40"
                                                 role="progressbar" class=" progress-bar progress-bar-success">
                                                <span class="sr-only">19,3%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                  
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="hpanel tour-9">
                        <div class="panel-heading hbuilt wborder bg-white text-dark">
                            Activity by Location
                        </div>
                        <div class="panel-body" style="min-height:390px">
                            <img style="width:100%" src="/images/country-chart.png">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="hpanel tour-10">
                        <div class="panel-heading hbuilt wborder bg-white text-dark">
                            Audience Segmentation by Gender and Age
                        </div>
                        <div class="panel-body" style="min-height:390px">
                            <div>
                                <canvas id="barOptions-gender-age" height="190"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>        

        </div>



</template>