<template name="Tracks">

	<div class="normalheader small-header">
        <div class="hpanel">
            <div class="panel-body">
            	<div class="col-lg-4">
	                <div id="hbreadcrumb" class="">
	                    <ol class="hbreadcrumb breadcrumb">
	                        <li><a class="btn btn-link text-uppercase" href="">Tracks</a></li>
	                        <li class="active"><a class="btn btn-link text-primary text-ellipsis" href="">Track Name #1</a></li>
	                        <!--<li class="active"><a class="btn btn-link text-primary" href="">Campaign Name</a></li>-->
	                    </ol>
	                </div>
	            </div>
	            <div class="col-lg-8">
	                <div class="pull-right">
	                	<div class="btn-group" style="max-width:210px">
		                	<div class="input-group">
		                		<input type="text" class="form-control" placeholder="Search Tracks...">
		                		<span class="input-group-btn"><button type="button" class="btn btn-default"><i class="fa fa-search"></i></button></span>
		                	</div>
						</div>
	                	<!--<a class="btn btn-default text-uppercase m-l-sm"><i class="fa fa-edit m-r-xs"></i> Edit Channel</a>	-->  
	                	<div class="btn-group m-l-sm">
		                    <button data-toggle="dropdown" class="btn btn-default text-uppercase dropdown-toggle" aria-expanded="false"><i class="fa fa-download m-r-xs"></i> Download Report <span class="caret"></span></button>
		                    <ul class="dropdown-menu" style="width:100%">
		                        <li><a href="#">Export results to CSV</a></li>
		                        <li><a href="#">Export results to TSV</a></li>
		                        <li><a href="#">Export results to JSON</a></li>
		                    </ul>
		                </div>              
	                	<a class="btn btn-primary text-uppercase m-l-sm"><i class="fa fa-plus m-r-xs"></i> New Track</a>
	                </div>
	            </div>
            </div>
        </div>
    </div>


	<div class="content" id="content">
		{{> TracksView}}
	</div>
</template>

<template name="TracksView">
	<div id="tracks-view" class="">
		<form id="dataview-controls" class="form-inline">
			<div id="dataview-controls-insert" class="form-group">
				<button type="submit" id="dataview-insert-button" class="btn btn-primary">
					<span class="fa fa-plus">
					</span>
					Add new
				</button>
			</div>
			<div id="dataview-controls-search">
				{{#if isNotEmpty}}
				<div id="dataview-controls-search-group" class="form-group">
					<label class="sr-only" for="search">
						Search
					</label>
					<input type="text" class="form-control" id="dataview-search-input" placeholder="Search" name="search" value="{{searchString}}" autofocus="autofocus">
					<button type="button" id="dataview-search-button" class="btn btn-primary">
						<span class="fa fa-search">
						</span>
					</button>
				</div>
				{{/if}}
			</div>
			<div id="dataview-controls-export" class="form-group">
				{{#if isNotEmpty}}			
					{{#if isFound}}
						<div></div>
						{{else}}
						<div class="btn-group">
							<button type="button" class="btn btn-default" id="dataview-export-default">
								Export
							</button>
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
								<span class="caret">
								</span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a href="#" id="dataview-export-csv">
										Export to CSV
									</a>
								</li>
								<li>
									<a href="#" id="dataview-export-tsv">
										Export to TSV
									</a>
								</li>
								<li>
									<a href="#" id="dataview-export-json">
										Export to JSON
									</a>
								</li>
							</ul>
						</div>
					{{/if}}			
				{{/if}}
			</div>
		</form>
		{{#if isNotEmpty}}	
			{{#if isNotFound}}
		<div class="alert alert-warning">
			"{{searchString}}" not found.
		</div>
		{{else}}
		<div id="dataview-data">
			{{#if viewAsTable}} {{> TracksViewTable}} {{/if}}
		</div>
		{{/if}}	
		{{else}}
		<div class="alert alert-info">
			No track :(
		</div>
		{{/if}}
	</div>
</template>

<template name="TracksViewTable">
	<table id="dataview-table" class="table table-hover">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="platform">
					Platform
				</th>
                <th class="th-sortable" data-sort="_id">
                    S/N
                </th>
				<th class="th-sortable" data-sort="uid">
					User id
				</th>
				<th class="th-sortable" data-sort="campaign-name">
					Campaign name
				</th>
                <th class="th-sortable" data-sort="message">
                    Message
                </th>

				<th>
					&nbsp;
				</th>
				<th style="border-radius: 0 2px 0 0">
					&nbsp;
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each tableItems}} {{> TracksViewTableItems}} {{/each}}
		</tbody>
	</table>
</template>

<template name="TracksViewTableItems">
	<tr id="dataview-table-items-row">

		<td class="va-middle">
			{{platform}}
		</td>
        <td>
            {{_id}}
        </td>
		<td class="va-middle">
			{{uid}}
		</td>
		<td class="va-middle">
            {{campaignName}}
		</td>
        <td class="va-middle">
            {{message}}
        </td>

		<td class="td-icon va-middle">
			<span id="edit-button" class="fa fa-pencil" title="Edit"></span>
		</td>
		<td class="td-icon va-middle">
			<span id="delete-button" class="fa fa-trash-o" title="Delete"></span>
		</td>
	</tr>
</template>

