<template name="notFound">
    <!--<div class="content">
        <div class="row">-->
            <div class="col-lg-12">
                <div class="text-center p-lg">
                    <img style="max-height:400px" class="" src="/images/not-found-icon.png">
                    <h1 class="text-dark">Sorry, Not Found</h1>
                    <p class="text-dark">
                        Go back to main page
                    </p>
                    <a href="{{pathFor route='dashboard'}}" class="btn btn-sm btn-primary">Go to Analytics</a>
                </div>
            </div>
        <!--</div>
    </div>-->
</template>