// Cyborg 3.2.0
// Bootswatch
// -----------------------------------------------------

@import url("//fonts.googleapis.com/css?family=Droid+Sans:400,700");

// Navbar =====================================================================

.navbar {

  border-bottom: 1px solid @gray-dark;
}

// Buttons ====================================================================

// Typography =================================================================

.text-primary,
.text-primary:hover {
  color: @brand-primary;
}

.text-success,
.text-success:hover {
  color: @brand-success;
}

.text-danger,
.text-danger:hover {
  color: @brand-danger;
}

.text-warning,
.text-warning:hover {
  color: @brand-warning;
}

.text-info,
.text-info:hover {
  color: @brand-info;
}

// Tables =====================================================================

table,
.table {
  color: #2e2e2e;
  background: #fff;
  border-radius: 0 0 2px 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  }

a:not(.btn) {
  color: #fff;
  text-decoration: none;
}

.text-muted {
  color: @text-muted;
}

.table-responsive > .table {
  background-color: @table-bg;
}

.table > thead > tr {
  color: #2e2e2e;
  background: #fff;
  font-size: 13px;
  font-weight: 700;
}

.table > thead > tr > th {
    padding: 15px;
    line-height: normal;
    vertical-align: middle;
}

.table > tbody > tr > td {
    padding: 15px;
    line-height: normal;
    vertical-align: middle;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.table-hover > tbody > tr:hover {
    background-color: rgba(0, 0, 0, 0.02);
}

// Forms ======================================================================

.has-warning {
  .help-block,
  .control-label,
  .form-control-feedback {
    color: @brand-warning;
  }

  .form-control,
  .form-control:focus,
  .input-group-addon {
    border-color: @brand-warning;
  }
}

.has-error {
  .help-block,
  .control-label,
  .form-control-feedback {
    color: @brand-danger;
  }

  .form-control,
  .form-control:focus,
  .input-group-addon {
    border-color: @brand-danger;
  }
}

.has-success {
  .help-block,
  .control-label,
  .form-control-feedback {
    color: @brand-success;
  }

  .form-control,
  .form-control:focus,
  .input-group-addon {
    border-color: @brand-success;
  }
}

legend {
  color: #fff;
}

.input-group-addon {
  background-color: @btn-default-bg;
}

// Navs =======================================================================

.nav-tabs,
.nav-pills,
.breadcrumb,
.pager {

  a {
    /*color: #fff;*/
  }
}

// Indicators =================================================================

.alert {

  .alert-link,
  a {
    color: @alert-warning-text;
    text-decoration: underline;
  }

  .close {
    text-decoration: none;
  }
}

.close {
  color: #fff;
  text-decoration: none;
  opacity: 0.4;

  &:hover,
  &:focus {
    color: #fff;
    opacity: 1;
  }
}

// Progress bars ==============================================================

// Containers =================================================================

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: @thumbnail-border;
}

.jumbotron {

  h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }
}