<template name="CampaignsInsert">
    <form role="form">
	<div class="normalheader small-header">
        <div class="hpanel">
            <div class="panel-body">
            	<div class="col-lg-6 col-md-6">
	                <div id="hbreadcrumb" class="">
	                    <ol class="hbreadcrumb breadcrumb">
	                        <!--<li><a class="btn btn-link text-uppercase" href="">Channels</a></li>
	                        <li class=""><a class="btn btn-link" href="">General Channel</a></li>-->
	                        <li class=""><a class="btn btn-link text-uppercase text-ellipsis" href="{{pathFor route='campaigns'}}">Campaigns</a></li>
	                        <li class="active"><a class="btn btn-link text-primary" href="">New Campaign</a></li>
	                    </ol>
	                </div>
	            </div>
	            <div class="col-lg-6 col-md-6">
	                <div class="pull-right">
	                	<!--<a id="form-cancel-button" class="btn btn-default text-uppercase m-l-sm">Cancel</a>-->	              
	                	<!--<a class="btn btn-primary text-uppercase m-l-sm"><i class="fa fa-check m-r-xs"></i> Save & Open Editor</a>-->
                        <button id="form-submit-button" class="btn btn-primary text-uppercase m-l-sm" type="submit">
                            <span class="fa fa-check m-r-xs"></span> Save Changes
                        </button>
                        <button type="button" id="form-cancel-button" class="btn btn-default text-uppercase m-l-sm">
                            Cancel
                        </button>

	                <!--{{> CBuilder }}-->
	                </div>
	            </div>
            </div>
        </div>
    </div>

	<div class="content" id="content">

	<div id="campaigns-insert-insert-form" class="">

			<div class="row">
				<div class="col-lg-12">
					{{#if errorMessage}}
					<div class="alert alert-warning">
						{{errorMessage}}
					</div>
					{{/if}}		
				
					{{#if infoMessage}}
					<div class="alert alert-success">
						{{infoMessage}}
					</div>
					{{/if}}
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12">

					<div class="hpanel">
			            <!--<div class="panel-heading hbuilt wborder bg-white text-dark">
			                Campaign Setup
			            </div>-->
			            <div class="panel-body" style="padding:0 15px;">
							<div class="row">
							    <div class="col-md-12" style="border-left:1px solid #efefef">
							        <div class="">
							            <div class="panel-body">
							                <div class="tab-content m-t-sm">
							                    <div id="note1" class="tab-pane active" style="border: 1px solid  #d1d1d1; padding: 100px 100px 100px 100px;">
							                        <h4 id="note1title" class="m-t-none m-b-lg text-dark">Campaign Details</h4>
							                        <div class="note-content">
														<div class="row">
										                    <div class="col-lg-3">
										                        <div class="form-group field-name">
																	<label for="name">
																		Name
																	</label>
																	<div class="input-div">
																		<input  type="text" name="name" value="" placeholder="Write your campaign’s name…" class="form-control" autofocus="autofocus" required="required">
																		<span id="help-text" class="help-block">
																		</span>
																		<span id="error-text" class="help-block">
																		</span>
																	</div>
																</div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="form-group field-startdate">
                                                                    <label for="sdate">Start date</label>
                                                                    <div class="input-div">
                                                                        <div class="input-group datetimepicker">

                                                                            <input name="sdate" id="idInput" class="set-due-date form-control" placeholder="Select Start Date…" type="text"/>
                                                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                                        </div>
																				<span id="help-text" class="help-block">
																				</span>
																				<span id="error-text" class="help-block">
																				</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="form-group field-enddate">
                                                                    <label for="edate">End date</label>
                                                                    <div class="input-div">
                                                                        <div class="input-group datetimepicker">

                                                                            <input name="edate" id="idInput" class="set-due-date form-control" placeholder="Select End Date…" type="text"/>
                                                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                                        </div>
																				<span id="help-text" class="help-block">
																				</span>
																				<span id="error-text" class="help-block">
																				</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="form-group field-author">
                                                                    <label for="author">
                                                                        Author
                                                                    </label>
                                                                    <div class="input-div">
                                                                        <input type="text" name="author" value="" class="form-control" autofocus="autofocus" >
																		<span id="help-text" class="help-block">
																		</span>
																		<span id="error-text" class="help-block">
																		</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-9">
																<div class="form-group field-description">
																	<label for="description">
																		Description
																	</label>
																	<div class="input-div">
																		<input type="text" name="description" value="" placeholder="Write your campaign’s description…" class="form-control">
																		<span id="help-text" class="help-block">
																		</span>
																		<span id="error-text" class="help-block">
																		</span>
																	</div>
																</div>
													        </div>
                                                            <div class="col-lg-3">
                                                                <div class="form-group field-chat-platform">
                                                                    <label for="platform">
                                                                        Chat Platform
                                                                    </label>
                                                                    <div class="input-div">
                                                                        <input type="text" name="platform" value="" class="form-control" placeholder="Select Chat Platform…" autofocus="autofocus" >
																		<span id="help-text" class="help-block">
																		</span>
																		<span id="error-text" class="help-block">
																		</span>
                                                                    </div>
                                                                </div>
                                                            </div>
													    </div>
                                                        <!--div class="row">
                                                            <div class="col-lg-12">

                                                                <div class="form-group field-active m-b-none m-t-sm">
                                                                    <label for="active">Active Campaign</label>
                                                                    <div class="input-div">
                                                                        <<p class="m-b-xs text-left">Make this campaign Active</p>>
                                                                        <div class="checkbox no-padding no-margins">
                                                                            <input type="checkbox"  class="js-switchActive" name="active" data-type="bool">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div-->
							                        </div>
							                    </div>

							                    <div id="note2" class="tab-pane" style="min-height:480px">
							                        <h4 id="note2title" class="m-t-none m-b-lg text-dark">Chat App Integration
							                        	<span class="pull-right">
								                        	<label class="m-b-md text-dark small"><span class="text-primary m-r-xs">5</span> Chat Apps Connected</label>
								                        </span>
							                        </h4>
							                        <div class="note-content">
							                        	<table id="" class="table m-b-none" style="box-shadow:none;border-bottom: 0px solid #efefef;">
															<tbody id="">
																
																<tr id="">
																	<td class="va-middle text-center">
																		<img class="m-b-none" style="width:32px;" src="/images/apps/app-logo-messenger.png">
																	</td>
																	<td class="va-middle">
																		<h5 class="m-t-none m-b-none text-uppercase text-dark">Messenger</h5>
																	</td>
																	<td class="va-middle">
																		<input type="text" name="" value="" class="input-sm form-control" autofocus="autofocus" placeholder="Account...">
																	</td>
																	<td class="va-middle">
															            <input type="password" name="" value="" class="input-sm form-control" autofocus="autofocus" placeholder="Password/Token...">
																	</td>
																	<td class="va-middle">
																		<a class="btn-link m-t-none m-b-none text-uppercase text-success">Connected</a>
																	</td>
																	<td class="va-middle">
																		<div class="input-div text-left">
											                                <div class="checkbox no-padding no-margins">
											                                    <input type="checkbox" class="js-switchFB" name="fb_plat" data-type="bool">
											                                </div>
											                            </div>
																	</td>
																</tr>

																<tr id="" style="border-bottom:none;">
																	<td class="va-middle text-center">
																		<img class="m-b-none" style="width:32px;" src="/images/apps/app-logo-kik.png">
																	</td>
																	<td class="va-middle">
																		<h5 class="m-t-none m-b-none text-uppercase text-dark">Kik</h5>
																	</td>
																	<td class="va-middle">
																		<input type="text" name="" value="" class="input-sm form-control" autofocus="autofocus" placeholder="Account...">
																	</td>
																	<td class="va-middle">
															            <input type="password" name="" value="" class="input-sm form-control" autofocus="autofocus" placeholder="Password/Token...">
																	</td>
																	<td class="va-middle">
																		<a class="btn-link m-t-none m-b-none text-uppercase text-success">Connected</a>
																	</td>
																	<td class="va-middle">
																		<div class="input-div text-left">
											                                <div class="checkbox no-padding no-margins">
											                                    <input type="checkbox" class="js-switchKik" name="kik_plat" data-type="bool">
											                                </div>
											                            </div>
																	</td>
																</tr>
																<tr id="">
																	<td class="va-middle text-center" style="border-top:none;">
																		&nbsp;
																	</td>
																	<td class="va-middle" style="border-top:none;">
																		&nbsp;
																	</td>
																	<td colspan="2" class="va-middle" style="border-top:none;">
																		<h5 class="m-t-none m-b-sm text-dark">Generate Kik Code:</h5>

																		<div class="input-group m-b-xs" style="width:100%">
																			<input disabled class="input-sm form-control" id="" type="text" value="MyKikBot" placeholder="" style="float:left;max-width:calc(50% + 1px);">
													                    	<input disabled class="input-sm form-control" id="" type="text" value="https://bots.kik.com/mykikbot" placeholder="" style="float:left;max-width:50%;margin-left:-1px;">
													                    	<span class="input-group-btn">
													                    		<a id="" style="min-width:40px;background-color:#efefef !important" href="#" class="btn btn-sm btn-default text-center"><i class="fa fa-times"></i></a>
													                    	</span>
													                    </div>

													                    <div class="input-group m-b-xs" style="width:100%">
																			<input class="input-sm form-control" id="" type="text" value="" placeholder="Kik Code Name..." style="float:left;max-width:calc(50% + 1px);">
													                    	<input class="input-sm form-control" id="" type="text" value="" placeholder="Kik Code URL..." style="float:left;max-width:50%;margin-left:-1px;">
													                    	<span class="input-group-btn">
													                    		<a id="" style="min-width:40px;background-color:#efefef !important" href="#" class="btn btn-sm btn-default text-center"><i class="fa fa-check"></i></a>
													                    	</span>
													                    </div>

													                    <div class="input-group m-t-sm" style="width:100%">
													                    	<span class="input-group-btn">
													                    		<a href="#" class="btn btn-sm btn-default text-center text-uppercase"><i class="fa fa-plus m-r-xs"></i> Generate New Code</a>
													                    	</span>
													                    </div>

																	</td>
																	<td class="va-middle" style="border-top:none;">
																		&nbsp;
																	</td>
																	<td class="va-middle" style="border-top:none;">
																		&nbsp;
																	</td>
																</tr>
																
																<tr id="">
																	<td class="va-middle text-center">
																		<img class="m-b-none" style="width:32px;" src="/images/apps/app-logo-telegram.png">
																	</td>
																	<td class="va-middle">
																		<h5 class="m-t-none m-b-none text-uppercase text-dark">Telegram</h5>
																	</td>
																	<td class="va-middle">
																		<input type="text" name="" value="" class="input-sm form-control" autofocus="autofocus" placeholder="Account...">
																	</td>
																	<td class="va-middle">
															            <input type="password" name="" value="" class="input-sm form-control" autofocus="autofocus" placeholder="Password/Token...">
																	</td>
																	<td class="va-middle">
																		<a class="btn-link m-t-none m-b-none text-uppercase text-danger">Not Connected</a>
																	</td>
																	<td class="va-middle">
																		<div class="input-div text-left">
											                                <div class="checkbox no-padding no-margins">
											                                    <input type="checkbox" class="js-switchTe" name="te_plat" data-type="bool">
											                                </div>
											                            </div>
																	</td>
																</tr>
																<tr id="">
																	<td class="va-middle text-center">
																		<img class="m-b-none" style="width:32px;" src="/images/apps/app-logo-slack.png">
																	</td>
																	<td class="va-middle">
																		<h5 class="m-t-none m-b-none text-uppercase text-dark">Slack</h5>
																	</td>
																	<td class="va-middle">
																		<input type="text" name="" value="" class="input-sm form-control" autofocus="autofocus" placeholder="Account...">
																	</td>
																	<td class="va-middle">
															            <input type="password" name="" value="" class="input-sm form-control" autofocus="autofocus" placeholder="Password/Token...">
																	</td>
																	<td class="va-middle">
																		<a class="btn-link m-t-none m-b-none text-uppercase text-danger">Not Connected</a>
																	</td>
																	<td class="va-middle">
																		<div class="input-div text-left">
											                                <div class="checkbox no-padding no-margins">
											                                    <input type="checkbox" class="js-switchSl" name="sl_plat" data-type="bool">
											                                </div>
											                            </div>
																	</td>
																</tr>
																<tr id="">
																	<td class="va-middle text-center">
																		<img class="m-b-none" style="width:32px;" src="/images/apps/app-logo-skype.png">
																	</td>
																	<td class="va-middle">
																		<h5 class="m-t-none m-b-none text-uppercase text-dark">Skype</h5>
																	</td>
																	<td class="va-middle">
																		<input type="text" name="" value="" class="input-sm form-control" autofocus="autofocus" placeholder="Account...">
																	</td>
																	<td class="va-middle">
															            <input type="password" name="" value="" class="input-sm form-control" autofocus="autofocus" placeholder="Password/Token...">
																	</td>
																	<td class="va-middle">
																		<a class="btn-link m-t-none m-b-none text-uppercase text-success">Connected</a>
																	</td>
																	<td class="va-middle">
																		<div class="input-div text-left">
											                                <div class="checkbox no-padding no-margins">
											                                    <input type="checkbox" class="js-switchSk" name="sk_plat" data-type="bool">
											                                </div>
											                            </div>
																	</td>
																</tr>
																<tr id="">
																	<td class="va-middle text-center">
																		<img class="m-b-none" style="width:32px;" src="/images/apps/app-logo-talk.png">
																	</td>
																	<td class="va-middle">
																		<h5 class="m-t-none m-b-none text-uppercase text-dark">KakaoTalk</h5>
																	</td>
																	<td class="va-middle">
																		<input type="text" name="" value="" class="input-sm form-control" autofocus="autofocus" placeholder="Account...">
																	</td>
																	<td class="va-middle">
															            <input type="password" name="" value="" class="input-sm form-control" autofocus="autofocus" placeholder="Password/Token...">
																	</td>
																	<td class="va-middle">
																		<a class="btn-link m-t-none m-b-none text-uppercase text-danger">Not Connected</a>
																	</td>
																	<td class="va-middle">
																		<div class="input-div text-left">
											                                <div class="checkbox no-padding no-margins">
											                                    <input type="checkbox" class="js-switchKa" name="ka_plat" data-type="bool">
											                                </div>
											                            </div>
																	</td>
																</tr>
																<tr id="">
																	<td class="va-middle text-center">
																		<img class="m-b-none" style="width:32px;" src="/images/apps/app-logo-viber.png">
																	</td>
																	<td class="va-middle">
																		<h5 class="m-t-none m-b-none text-uppercase text-dark">Viber</h5>
																	</td>
																	<td class="va-middle">
																		<input type="text" name="" value="" class="input-sm form-control" autofocus="autofocus" placeholder="Account...">
																	</td>
																	<td class="va-middle">
															            <input type="password" name="" value="" class="input-sm form-control" autofocus="autofocus" placeholder="Password/Token...">
																	</td>
																	<td class="va-middle">
																		<a class="btn-link m-t-none m-b-none text-uppercase text-success">Connected</a>
																	</td>
																	<td class="va-middle">
																		<div class="input-div text-left">
											                                <div class="checkbox no-padding no-margins">
											                                    <input type="checkbox" class="js-switchVi" name="vi_plat" data-type="bool">
											                                </div>
											                            </div>
																	</td>
																</tr>
																<tr id="">
																	<td class="va-middle text-center">
																		<img class="m-b-none" style="width:32px;" src="/images/apps/app-logo-whatsapp.png">
																	</td>
																	<td class="va-middle">
																		<h5 class="m-t-none m-b-none text-uppercase text-dark">WhatsApp</h5>
																	</td>
																	<td class="va-middle">
																		<input type="text" name="" value="" class="input-sm form-control" autofocus="autofocus" placeholder="Account...">
																	</td>
																	<td class="va-middle">
															            <input type="password" name="" value="" class="input-sm form-control" autofocus="autofocus" placeholder="Password/Token...">
																	</td>
																	<td class="va-middle">
																		<a class="btn-link m-t-none m-b-none text-uppercase text-success">Connected</a>
																	</td>
																	<td class="va-middle">
																		<div class="input-div text-left">
											                                <div class="checkbox no-padding no-margins">
											                                    <input type="checkbox" class="js-switchWha" name="wha_plat" data-type="bool">
											                                </div>
											                            </div>
																	</td>
																</tr>




																<tr id="" style="opacity:0.5;">
																	<td class="va-middle text-center">
																		<img class="m-b-none" style="width:32px;" src="/images/apps/app-logo-nimbuzz.png">
																	</td>
																	<td class="va-middle">
																		<h5 class="m-t-none m-b-none text-uppercase text-dark">Nimbuzz</h5>
																	</td>
																	<td class="va-middle">
																		<input type="text" name="" value="" class="input-sm form-control" autofocus="autofocus" placeholder="Account...">
																	</td>
																	<td class="va-middle">
															            <input type="password" name="" value="" class="input-sm form-control" autofocus="autofocus" placeholder="Password/Token...">
																	</td>
																	<td class="va-middle">
																		<a class="btn-link m-t-none m-b-none text-uppercase text-dark">Coming soon...</a>
																	</td>
																	<td class="va-middle">
																		<div class="input-div text-left">
											                                <div class="checkbox no-padding no-margins">
											                                    <input type="checkbox" class="js-switchNi" name="ni_plat" data-type="bool">
											                                </div>
											                            </div>
																	</td>
																</tr>
																<tr id="" style="opacity:0.5;">
																	<td class="va-middle text-center">
																		<img class="m-b-none" style="width:32px;" src="/images/apps/app-logo-qq.png">
																	</td>
																	<td class="va-middle">
																		<h5 class="m-t-none m-b-none text-uppercase text-dark">QQ Mobile</h5>
																	</td>
																	<td class="va-middle">
																		<input type="text" name="" value="" class="input-sm form-control" autofocus="autofocus" placeholder="Account...">
																	</td>
																	<td class="va-middle">
															            <input type="password" name="" value="" class="input-sm form-control" autofocus="autofocus" placeholder="Password/Token...">
																	</td>
																	<td class="va-middle">
																		<a class="btn-link m-t-none m-b-none text-uppercase text-dark">Coming soon...</a>
																	</td>
																	<td class="va-middle">
																		<div class="input-div text-left">
											                                <div class="checkbox no-padding no-margins">
											                                    <input type="checkbox" class="js-switchQq" name="qq_plat" data-type="bool">
											                                </div>
											                            </div>
																	</td>
																</tr>
																<tr id="" style="opacity:0.5;">
																	<td class="va-middle text-center">
																		<img class="m-b-none" style="width:32px;" src="/images/apps/app-logo-line.png">
																	</td>
																	<td class="va-middle">
																		<h5 class="m-t-none m-b-none text-uppercase text-dark">Line</h5>
																	</td>
																	<td class="va-middle">
																		<input type="text" name="" value="" class="input-sm form-control" autofocus="autofocus" placeholder="Account...">
																	</td>
																	<td class="va-middle">
															            <input type="password" name="" value="" class="input-sm form-control" autofocus="autofocus" placeholder="Password/Token...">
																	</td>
																	<td class="va-middle">
																		<a class="btn-link m-t-none m-b-none text-uppercase text-dark">Coming soon...</a>
																	</td>
																	<td class="va-middle">
																		<div class="input-div text-left">
											                                <div class="checkbox no-padding no-margins">
											                                    <input type="checkbox" class="js-switchLi" name="li_plat" data-type="bool">
											                                </div>
											                            </div>
																	</td>
																</tr>
																<tr id="" style="opacity:0.5;">
																	<td class="va-middle text-center">
																		<img class="m-b-none" style="width:32px;" src="/images/apps/app-logo-wechat.png">
																	</td>
																	<td class="va-middle">
																		<h5 class="m-t-none m-b-none text-uppercase text-dark">Wechat</h5>
																	</td>
																	<td class="va-middle">
																		<input type="text" name="" value="" class="input-sm form-control" autofocus="autofocus" placeholder="Account...">
																	</td>
																	<td class="va-middle">
															            <input type="password" name="" value="" class="input-sm form-control" autofocus="autofocus" placeholder="Password/Token...">
																	</td>
																	<td class="va-middle">
																		<a class="btn-link m-t-none m-b-none text-uppercase text-dark">Coming soon...</a>
																	</td>
																	<td class="va-middle">
																		<div class="input-div text-left">
											                                <div class="checkbox no-padding no-margins">
											                                    <input type="checkbox" class="js-switchWe" name="we_plat" data-type="bool">
											                                </div>
											                            </div>
																	</td>
																</tr>	

																


																
															</tbody>
														</table>
							                        </div>

							                    </div>


							                    <div id="note3" class="tab-pane" style="min-height:480px">
							                        <h4 class="m-t-none m-b-lg text-dark">Predefined Chat Bots</h4>
							                        <div class="note-content">
							                        	<div class="row">
							                        		<div class="col-md-3">
												                <div class="hpanel" style="box-shadow:none">
												                    <div class="panel-body" style="background:#fafafa">
												                        <div class="text-center">
												                            <div class="m">
												                                <img style="width:100%" src="/images/bots/bot-icon-custom.png">
												                            </div>
												                            <h4 class="m-b-sm text-dark">Blank Bot</h4>
												                            <div class="btn-group">
												                            <a data-toggle="tooltip" data-placement="top" title="" class="btn btn-default btn-sm m-b-xs text-uppercase">Select</a>
												                            <a class="btn btn-default btn-sm m-b-xs"><i class="fa fa-cog"></i></a>
												                            </div>
												                        </div>
												                    </div>
												                </div>
												            </div>

												            <div class="col-md-3">
												                <div class="hpanel" style="box-shadow:none">
												                    <div class="panel-body" style="background:#fafafa">
												                        <div class="text-center">
												                        	<div class="m">
												                                <img style="width:100%" src="/images/bots/bot-icon-referral.png">
												                            </div>
												                            <h4 class="m-b-sm text-dark">Refferal Bot</h4>
												                            <div class="btn-group">
												                            <a data-toggle="tooltip" data-placement="top" title="" class="btn btn-default btn-sm m-b-xs text-uppercase">Select</a>
												                            <a class="btn btn-default btn-sm m-b-xs"><i class="fa fa-cog"></i></a>
												                            </div>
												                        </div>
												                    </div>
												                </div>
												            </div>
												            <div class="col-md-3">
												                <div class="hpanel" style="box-shadow:none">
												                    <div class="panel-body" style="background:#fafafa">
												                        <div class="text-center">
												                            <div class="m">
												                                <img style="width:100%" src="/images/bots/bot-icon-music.png">
												                            </div>
												                            <h4 class="m-b-sm text-dark">Music Bot</h4>
												                            <div class="btn-group">
												                            <a data-toggle="tooltip" data-placement="top" title="" class="btn btn-default btn-sm m-b-xs text-uppercase">Select</a>
												                            <a class="btn btn-default btn-sm m-b-xs"><i class="fa fa-cog"></i></a>
												                            </div>
												                        </div>
												                    </div>
												                </div>
												            </div>
												            <div class="col-md-3">
												                <div class="hpanel" style="box-shadow:none">
												                    <div class="panel-body" style="background:#fafafa">
												                        <div class="text-center">
												                            <div class="m">
												                                <img style="width:100%" src="/images/bots/bot-icon-news.png">
												                            </div>
												                            <h4 class="m-b-sm text-dark">News Bot</h4>
												                            <div class="btn-group">
												                            <a data-toggle="tooltip" data-placement="top" title="" class="btn btn-default btn-sm m-b-xs text-uppercase">Select</a>
												                            <a class="btn btn-default btn-sm m-b-xs"><i class="fa fa-cog"></i></a>
												                            </div>
												                        </div>
												                    </div>
												                </div>
												            </div>
												            <div class="col-md-3">
												                <div class="hpanel" style="box-shadow:none">
												                    <div class="panel-body" style="background:#fafafa">
												                        <div class="text-center">
												                            <div class="m">
												                                <img style="width:100%" src="/images/bots/bot-icon-sports.png">
												                            </div>
												                            <h4 class="m-b-sm text-dark">Sports Bot</h4>
												                            <div class="btn-group">
												                            <a data-toggle="tooltip" data-placement="top" title="" class="btn btn-default btn-sm m-b-xs text-uppercase">Select</a>
												                            <a class="btn btn-default btn-sm m-b-xs"><i class="fa fa-cog"></i></a>
												                            </div>
												                        </div>
												                    </div>
												                </div>
												            </div>
												            <div class="col-md-3">
												                <div class="hpanel" style="box-shadow:none">
												                    <div class="panel-body" style="background:#fafafa">
												                        <div class="text-center">
												                            <div class="m">
												                                <img style="width:100%" src="/images/bots/bot-icon-retail.png">
												                            </div>
												                            <h4 class="m-b-sm text-dark">Retail Bot</h4>
												                            <div class="btn-group">
												                            <a data-toggle="tooltip" data-placement="top" title="" class="btn btn-default btn-sm m-b-xs text-uppercase">Select</a>
												                            <a class="btn btn-default btn-sm m-b-xs"><i class="fa fa-cog"></i></a>
												                            </div>
												                        </div>
												                    </div>
												                </div>
												            </div>
												            <div class="col-md-3">
												                <div class="hpanel" style="box-shadow:none">
												                    <div class="panel-body" style="background:#fafafa">
												                        <div class="text-center">
												                            <div class="m">
												                                <img style="width:100%" src="/images/bots/bot-icon-helpdesk.png">
												                            </div>
												                            <h4 class="m-b-sm text-dark">Helpdesk Bot</h4>
												                            <div class="btn-group">
												                            <a data-toggle="tooltip" data-placement="top" title="" class="btn btn-default btn-sm m-b-xs text-uppercase">Select</a>
												                            <a class="btn btn-default btn-sm m-b-xs"><i class="fa fa-cog"></i></a>
												                            </div>
												                        </div>
												                    </div>
												                </div>
												            </div>
												            <div class="col-md-3">
												                <div class="hpanel" style="box-shadow:none">
												                    <div class="panel-body" style="background:#fafafa">
												                        <div class="text-center">
												                            <div class="m">
												                                <img style="width:100%" src="/images/bots/bot-icon-smb.png">
												                            </div>
												                            <h4 class="m-b-sm text-dark">SMB's Bot</h4>
												                            <div class="btn-group">
												                            <a data-toggle="tooltip" data-placement="top" title="" class="btn btn-default btn-sm m-b-xs text-uppercase">Select</a>
												                            <a class="btn btn-default btn-sm m-b-xs"><i class="fa fa-cog"></i></a>
												                            </div>
												                        </div>
												                    </div>
												                </div>
												            </div>
												            
												        </div>
							                        </div>

							                    </div>



							                    <div id="note4" class="tab-pane" style="min-height:480px">
							                        <h4 class="m-t-none m-b-lg text-dark">Bot Configuration</h4>
							                        <div class="note-content">													
							                        </div>

							                    </div>

							                    <div id="note5" class="tab-pane active" style="border: 1px solid #d1d1d1; padding: 100px 100px 100px 100px;">
							                        <h4 class="m-t-none m-b-lg text-dark">Campaign Keywords
								                        <!--span class="pull-right">
								                        	<a style="width:120px" class="btn btn-xs btn-primary m-l-xs text-uppercase">Load Keywords</a>
								                        	<a style="width:120px" class="btn btn-xs btn-primary m-l-xs text-uppercase">Save Keywords</a>
								                        </span-->
							                        </h4>
							                        <div class="note-content">
       													{{#each camp}}
							                                
							                                    {{#each keyword}}

							                                        {{#if compare value "empty"}}
							                                            
							                                        {{else}}
							                                            <div class="input-group m-b-sm">
                                                                            <div class="row">
                                                                                <div class="col-sm-2">
                                                                                    <span class="input-group-btn">
                                                                                        <a id="removeKey" style="min-width:40px; color:#c1c1c1; " href="#" class="btn btn-default text-center">Remove this Keyword</a>
                                                                                    </span>
                                                                                </div>
                                                                                <div class="col-sm-5">
                                                                                    <input disabled class="form-control" id="" type="text" value="{{key}}" >
                                                                                </div>
                                                                                <div class="col-sm-5">
                                                                                    <input disabled class="form-control" id="" type="text" value="{{value}}" >
                                                                                </div>
                                                                            </div>
													                    </div>
							                                        {{/if}}


							                                    {{/each}}
							                                
							                            {{/each}}

							                            <div class="input-div">
										                    <div class="input-group">
                                                                <div class="row">
                                                                    <div class="col-sm-2">
                                                                        <span class="input-group-btn">
                                                                            <button style="min-width:40px; color:#c1c1c1" id="insertKey" type="button" class="btn btn-default">Add New Keyword</button>
                                                                        </span>
                                                                    </div>
                                                                    <div class="col-sm-5">
										                    	        <input class="form-control" id="keyword_key" type="text" value="" placeholder="User Keyword..." >
                                                                    </div>
                                                                    <div class="col-sm-5">
                                                                        <input class="form-control" id="keyword_value" type="text" value="" placeholder="Brand Answer..." >
                                                                    </div>
                                                                </div>
										                    </div>
										                </div>
							                        </div>

							                    </div>

							                    <div id="note6" class="tab-pane" style="min-height:480px">
							                        <h4 class="m-t-none m-b-lg text-dark">External Feeds
							                        	<span class="pull-right">
								                        	<a style="width:120px" class="btn btn-xs btn-primary m-l-xs text-uppercase">Load Feeds</a>
								                        	<a style="width:120px" class="btn btn-xs btn-primary m-l-xs text-uppercase">Save Feeds</a>
								                        </span>
							                        </h4>
							                        <div class="note-content">
							                        	{{#each camp}}
							                        
							                                {{#each rss}}

							                                    {{#if compare value "empty"}}

							                                    {{else}}
							                                        <div class="input-group m-b-sm">
												                    	<input disabled class="form-control" id="" type="text" value="{{key}}" placeholder="" style="float:left;max-width:calc(40% + 1px);">
												                    	<input disabled class="form-control" id="" type="text" value="{{value}}" placeholder="" style="float:left;max-width:60%;margin-left:-1px;">
												                    	<span class="input-group-btn">
												                    		<a id="removeKeyRSS" style="min-width:40px;background-color:#efefef !important" href="#" class="btn btn-default text-center"><i class="fa fa-times"></i></a>
												                    	</span>
												                    </div>
							                                    {{/if}}

							                                {{/each}}
							                                
							                            {{/each}}

							                            <div class="input-div">
										                    <div class="input-group">
										                    	<input class="form-control" id="rss_key" type="text" value="" placeholder="Channel Name..." style="float:left;max-width:calc(40% + 1px);">
										                    	<input class="form-control" id="rss_value" type="text" value="" placeholder="RSS Link URL..." style="float:left;max-width:60%;margin-left:-1px;">
										                    	<span class="input-group-btn">
										                    		<button style="min-width:40px;" id="insertKeyRSS" type="button" class="btn btn-default"><i class="fa fa-plus"></i></button>
										                    	</span>
										                    </div>
										                </div>
							                        </div>

							                    </div>

							                    
							                </div>
							            </div>
							        </div>
							    </div>


							</div><!--row -->
						</div>



					</div>
				</div>
			</div>





	</div>
    </div>
    </form>
</template>

