<template name="Broadcasting">

    <div class="embed-responsive embed-responsive-16by9">
        <iframe  class="embed-responsive-item" src="http://localhost:3040/"></iframe>
    </div>

    <!--a id="openEditor"
       class="various fancybox.iframe btn btn-primary text-uppercase m-l-sm"
       href="https://scheduler.chatsuite.im">
        <i class="fa fa-pencil m-r-xs"></i>
        Open Broadcasting
    </a-->



</template>



