<template name="AudienceInsert">

	<div class="normalheader small-header">
        <div class="hpanel">
            <div class="panel-body">
            	<div class="col-lg-6 col-md-6">
	                <div id="hbreadcrumb" class="">
	                    <ol class="hbreadcrumb breadcrumb">
	                        <!--<li><a class="btn btn-link text-uppercase" href="">Channels</a></li>
	                        <li class=""><a class="btn btn-link" href="">General Channel</a></li>-->
	                        <li class=""><a class="btn btn-link text-uppercase text-ellipsis" href="{{pathFor route='audience'}}">Audience</a></li>
	                        <li class="active"><a class="btn btn-link text-primary" href="">New Target Group</a></li>
	                    </ol>
	                </div>
	            </div>
	            <div class="col-lg-6 col-md-6">
	                <div class="pull-right">
	                	<a class="btn btn-default text-uppercase m-l-sm">Cancel</a>	              
	                	<a class="btn btn-primary text-uppercase m-l-sm"><i class="fa fa-check m-r-xs"></i> Save</a>
	                </div>
	            </div>
            </div>
        </div>
    </div>

	<div class="content" id="content">
		{{> AudienceInsertInsertForm}}
	</div>

</template>

<template name="AudienceInsertInsertForm">
	<div id="audience-insert-insert-form" class="">
		<form role="form">
			<div class="row">
				<div class="col-lg-12">
					{{#if errorMessage}}
					<div class="alert alert-warning">
						{{errorMessage}}
					</div>
					{{/if}}		
				
					{{#if infoMessage}}
					<div class="alert alert-success">
						{{infoMessage}}
					</div>
					{{/if}}
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="hpanel">
			            <div class="panel-heading hbuilt wborder bg-white text-dark">
			                Target Group Details
			                <div class="panel-tools">

						    </div>
			            </div>
			            <div class="panel-body">
			                <div class="row">
			                    <div class="col-lg-12">
			                        <div class="form-group field-groupname">
										<label for="groupname">
											Group Name
										</label>
										<div class="input-div">
											<input type="text" name="groupname" value="" class="form-control" autofocus="autofocus" required="required" placeholder="Group Title...">
											<span id="help-text" class="help-block">
											</span>
											<span id="error-text" class="help-block">
											</span>
										</div>
									</div>
									<div class="form-group field-groupdescription">
										<label for="groupdescription">
											Group Size
										</label>
										<div class="input-div">
											<input type="text" name="groupdescription" value="" class="form-control" placeholder="# of Followers">
											<span id="help-text" class="help-block">
											</span>
											<span id="error-text" class="help-block">
											</span>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<div class="form-group field-groupgender">
								                <label for="groupgender">Gender(s)</label>
												<div class="input-div">
							                        <select class="js-source-states-1" multiple="multiple" style="width: 100%">
							                            <option value="Women">Women</option>
							                            <option value="Men">Men</option>
							                        </select>
												</div>
											</div>
										</div>
									</div>
								    <div class="row">
										<div class="col-sm-12">
								            <div class="form-group field-groupage">
								                <label for="groupage">Age Range(s)</label>
								                <div class="input-div">
								                    <select class="js-source-states-2" multiple="multiple" style="width: 100%">
							                            <option value="12-18">12-18</option>
							                            <option value="19-25">19-25</option>
							                            <option value="26-35">26-35</option>
							                            <option value="36-45">36-45</option>
							                            <option value="+45">+45</option>
							                        </select>
								                </div>
								            </div>
								        </div>
								    </div>
								    <div class="row">
										<div class="col-sm-12">
											<div class="form-group field-groupgender">
								                <label for="groupgender">Location(s)</label>
												<div class="input-div">
							                        <select class="js-source-states-3" multiple="multiple" style="width: 100%">
							                            <optgroup label="Alaskan/Hawaiian Time Zone">
							                                <option value="AK">Alaska</option>
							                                <option value="HI">Hawaii</option>
							                            </optgroup>
							                            <optgroup label="Pacific Time Zone">
							                                <option value="CA">California</option>
							                                <option value="NV">Nevada</option>
							                                <option value="OR">Oregon</option>
							                                <option value="WA">Washington</option>
							                            </optgroup>
							                            <optgroup label="Mountain Time Zone">
							                                <option value="AZ">Arizona</option>
							                                <option value="CO">Colorado</option>
							                                <option value="ID">Idaho</option>
							                                <option value="MT">Montana</option>
							                                <option value="NE">Nebraska</option>
							                                <option value="NM">New Mexico</option>
							                                <option value="ND">North Dakota</option>
							                                <option value="UT">Utah</option>
							                                <option value="WY">Wyoming</option>
							                            </optgroup>
							                            <optgroup label="Central Time Zone">
							                                <option value="AL">Alabama</option>
							                                <option value="AR">Arkansas</option>
							                                <option value="IL">Illinois</option>
							                                <option value="IA">Iowa</option>
							                                <option value="KS">Kansas</option>
							                                <option value="KY">Kentucky</option>
							                                <option value="LA">Louisiana</option>
							                                <option value="MN">Minnesota</option>
							                                <option value="MS">Mississippi</option>
							                                <option value="MO">Missouri</option>
							                                <option value="OK">Oklahoma</option>
							                                <option value="SD">South Dakota</option>
							                                <option value="TX">Texas</option>
							                                <option value="TN">Tennessee</option>
							                                <option value="WI">Wisconsin</option>
							                            </optgroup>
							                            <optgroup label="Eastern Time Zone">
							                                <option value="CT">Connecticut</option>
							                                <option value="DE">Delaware</option>
							                                <option value="FL">Florida</option>
							                                <option value="GA">Georgia</option>
							                                <option value="IN">Indiana</option>
							                                <option value="ME">Maine</option>
							                                <option value="MD">Maryland</option>
							                                <option value="MA">Massachusetts</option>
							                                <option value="MI">Michigan</option>
							                                <option value="NH">New Hampshire</option>
							                                <option value="NJ">New Jersey</option>
							                                <option value="NY">New York</option>
							                                <option value="NC">North Carolina</option>
							                                <option value="OH">Ohio</option>
							                                <option value="PA">Pennsylvania</option>
							                                <option value="RI">Rhode Island</option>
							                                <option value="SC">South Carolina</option>
							                                <option value="VT">Vermont</option>
							                                <option value="VA">Virginia</option>
							                                <option value="WV">West Virginia</option>
							                            </optgroup>
							                        </select>
												</div>
											</div>
										</div>
								    </div>
						        </div>
						    </div>
						    
			            </div>
			        </div>
			    </div>
			    <div class="col-lg-6">
					<div class="hpanel">
			            <div class="panel-heading hbuilt wborder bg-white text-dark">
			                Chat App(s) Target
			                <div class="panel-tools">

						    </div>
			            </div>
			            <div class="panel-body" style="min-height: 405px">
			                <div class="row">
			                    <div class="col-lg-12">
			                    	<label class="m-b-md" for=""><span class="text-primary">5</span> Chat Apps Selected</label>
			                    	<div class="row no-padding m-b-md">
			                    		<div class="col-lg-3 col-md-3 text-center">
					                        <div class="form-group field-wha-active">
					                        	<img class="m-b-xs m-r-sm" style="width:52px;float:left;" src="/images/apps/app-logo-whatsapp.png">
					                            <div class="input-div pull-right m-t-sm">
					                                <div class="checkbox no-padding no-margins">
					                                    <input type="checkbox" class="js-switchWha" name="wha_plat" data-type="bool">
					                                </div>
					                            </div>
					                        </div>
					                    </div>
			                    		<div class="col-lg-3 col-md-3 text-center">
					                        <div class="form-group field-fb-active">
					                        	<img class="m-b-sm m-r-sm" style="width:52px;float:left;" src="/images/apps/app-logo-messenger.png">
					                            <div class="input-div pull-right m-t-sm">
					                                <div class="checkbox no-padding no-margins">
					                                    <input type="checkbox" class="js-switchFB" name="fb_plat" data-type="bool">
					                                </div>
					                            </div>
					                        </div>
					                    </div>
					                    <div class="col-lg-3 col-md-3 text-center">
					                        <div class="form-group field-we-active">
					                        	<img class="m-b-sm m-r-sm" style="width:52px;float:left;" src="/images/apps/app-logo-wechat.png">
					                            <div class="input-div pull-right m-t-sm">
					                                <div class="checkbox no-padding no-margins">
					                                    <input type="checkbox" class="js-switchWe" name="we_plat" data-type="bool">
					                                </div>
					                            </div>
					                        </div>
					                    </div>
					                    <div class="col-lg-3 col-md-3 text-center">
					                        <div class="form-group field-kik-active">
					                        	<img class="m-b-sm m-r-sm" style="width:52px;float:left;" src="/images/apps/app-logo-kik.png">
					                            <div class="input-div pull-right m-t-sm">
					                                <div class="checkbox no-padding no-margins">
					                                    <input type="checkbox" class="js-switchKik" name="kik_plat" data-type="bool">
					                                </div>
					                            </div>
					                        </div>
					                    </div>
					                </div>
					                <div class="row no-padding m-b-md">      
					                    <div class="col-lg-3 col-md-3 text-center">
					                        <div class="form-group field-li-active">
					                        	<img class="m-b-sm m-r-sm" style="width:52px;float:left;" src="/images/apps/app-logo-line.png">
					                            <div class="input-div pull-right m-t-sm">
					                                <div class="checkbox no-padding no-margins">
					                                    <input type="checkbox" class="js-switchLi" name="li_plat" data-type="bool">
					                                </div>
					                            </div>
					                        </div>
					                    </div>
					                    <div class="col-lg-3 col-md-3 text-center">
					                        <div class="form-group field-vi-active">
					                        	<img class="m-b-sm m-r-sm" style="width:52px;float:left;" src="/images/apps/app-logo-viber.png">
					                            <div class="input-div pull-right m-t-sm">
					                                <div class="checkbox no-padding no-margins">
					                                    <input type="checkbox" class="js-switchVi" name="vi_plat" data-type="bool">
					                                </div>
					                            </div>
					                        </div>
					                    </div>                    
					                    <div class="col-lg-3 col-md-3 text-center">
					                        <div class="form-group field-te-active">
					                        	<img class="m-b-sm m-r-sm" style="width:52px;float:left;" src="/images/apps/app-logo-telegram.png">
					                            <div class="input-div pull-right m-t-sm">
					                                <div class="checkbox no-padding no-margins">
					                                    <input type="checkbox" class="js-switchTe" name="te_plat" data-type="bool">
					                                </div>
					                            </div>
					                        </div>
					                    </div>
					                    <div class="col-lg-3 col-md-3 text-center">
					                        <div class="form-group field-ka-active">
					                        	<img class="m-b-sm m-r-sm" style="width:52px;float:left;" src="/images/apps/app-logo-talk.png">
					                            <div class="input-div pull-right m-t-sm">
					                                <div class="checkbox no-padding no-margins">
					                                    <input type="checkbox" class="js-switchKa" name="ka_plat" data-type="bool">
					                                </div>
					                            </div>
					                        </div>
					                    </div>

					                </div>
					                <div class="row no-padding m-b-md">			

					                    <div class="col-lg-3 col-md-3 text-center">
					                        <div class="form-group field-ta-active">
					                        	<img class="m-b-sm m-r-sm" style="width:52px;float:left;" src="/images/apps/app-logo-tango.png">
					                            <div class="input-div pull-right m-t-sm">
					                                <div class="checkbox no-padding no-margins">
					                                    <input type="checkbox" class="js-switchTa" name="ta_plat" data-type="bool">
					                                </div>
					                            </div>
					                        </div>
					                    </div>	                    

					                    <div class="col-lg-3 col-md-3 text-center">
					                        <div class="form-group field-sn-active">
					                        	<img class="m-b-sm m-r-sm" style="width:52px;float:left;" src="/images/apps/app-logo-snapchat.png">
					                            <div class="input-div pull-right m-t-sm">
					                                <div class="checkbox no-padding no-margins">
					                                    <input type="checkbox" class="js-switchSn" name="sn_plat" data-type="bool">
					                                </div>
					                            </div>
					                        </div>
					                    </div>
					                    <div class="col-lg-3 col-md-3 text-center">
					                        <div class="form-group field-sk-active">
					                        	<img class="m-b-sm m-r-sm" style="width:52px;float:left;" src="/images/apps/app-logo-skype.png">
					                            <div class="input-div pull-right m-t-sm">
					                                <div class="checkbox no-padding no-margins">
					                                    <input type="checkbox" class="js-switchSk" name="sk_plat" data-type="bool">
					                                </div>
					                            </div>
					                        </div>
					                    </div>
					                    <div class="col-lg-3 col-md-3 text-center">
					                        <div class="form-group field-qq-active">
					                        	<img class="m-b-sm m-r-sm" style="width:52px;float:left;" src="/images/apps/app-logo-qq.png">
					                            <div class="input-div pull-right m-t-sm">
					                                <div class="checkbox no-padding no-margins">
					                                    <input type="checkbox" class="js-switchQq" name="qq_plat" data-type="bool">
					                                </div>
					                            </div>
					                        </div>
					                    </div>

					                </div>
					                <div class="row no-padding">			                    

					                    <div class="col-lg-3 col-md-3 text-center">
					                        <div class="form-group field-hi-active">
					                        	<img class="m-b-sm m-r-sm" style="width:52px;float:left;" src="/images/apps/app-logo-hipchat.png">
					                            <div class="input-div pull-right m-t-sm">
					                                <div class="checkbox no-padding no-margins">
					                                    <input type="checkbox" class="js-switchHi" name="hi_plat" data-type="bool">
					                                </div>
					                            </div>
					                        </div>
					                    </div>
					                    <div class="col-lg-3 col-md-3 text-center">
					                        <div class="form-group field-ni-active">
					                        	<img class="m-b-sm m-r-sm" style="width:52px;float:left;" src="/images/apps/app-logo-nimbuzz.png">
					                            <div class="input-div pull-right m-t-sm">
					                                <div class="checkbox no-padding no-margins">
					                                    <input type="checkbox" class="js-switchNi" name="ni_plat" data-type="bool">
					                                </div>
					                            </div>
					                        </div>
					                    </div>
					                    <div class="col-lg-3 col-md-3 text-center">
					                        <div class="form-group field-im-active">
					                        	<img class="m-b-sm m-r-sm" style="width:52px;float:left;" src="/images/apps/app-logo-imessage.png">
					                            <div class="input-div pull-right m-t-sm">
					                                <div class="checkbox no-padding no-margins">
					                                    <input type="checkbox" class="js-switchIm" name="im_plat" data-type="bool">
					                                </div>
					                            </div>
					                        </div>
					                    </div>

					                </div>

			                    </div>
			                </div>
			            </div>
			        </div>

			    </div>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<div class="hpanel">
			            <div class="panel-body">
			            	<div class="row m-t-sm m-b-sm">
				            	<div class="col-lg-9">
				            	<h3 class="text-dark m-b-none m-t-xs">We found <span class="text-primary">789 followers</span> that match your criteria</h3>
				            	</div>
				            	<div class="col-lg-3">
				            		<a class="btn btn-primary text-uppercase pull-right"><i class="fa fa-download m-r-xs"></i> Download Report</a>
				            	</div>
			            	</div>
			            </div>
			        </div>
			    </div>
			</div>

		</form>

	</div>

</template>