<template name="mostActiveChatPlatform">

    <div class="col-lg-3">
        <div class="hpanel tour-4">
            <div class="panel-heading hbuilt wborder bg-white text-dark">
                Most Active Chat Platform
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <img class="m-t-xs" style="width:64px;" src={{mostActiveByIcon}}>
                    </div>
                    <div class="col-xs-8">
                        <small class="text-dark stat-label">{{mostActiveChatPlatform}}</small>
                        <h4 class="text-dark">{{mostActiveByView}} views</h4>
                        <h5 class="text-dark">This week</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>