<template name="CBuilder">
	<!--<div>-->

			<!--<h2>-->
				<!--CBuilder {{campaign.name}}-->
			<!--</h2>-->
			<!--{{#if errorMessage}}-->
			<!--<div class="alert alert-warning">-->
				<!--{{errorMessage}}-->
			<!--</div>-->
			<!--{{/if}}-->


            <!--<button id="form-submit-button" class="btn btn-success" >-->
                <!--<a id="openEditor" class="various fancybox.iframe btn btn-primary text-uppercase m-l-sm"  href="/cBuilder/chart_tabs.html?id={{time}}&msg={{campaign.campaign.obj}}&cName={{campaign.name}}"><i class="fa fa-pencil m-r-xs"></i> Open Editor</a>-->

    <a id="openEditor" class="various fancybox.iframe btn btn-primary text-uppercase m-l-sm"  href="/cBuilder/chart_tabs.html?id={{time}}&cName={{campaign.name}}"><i class="fa fa-pencil m-r-xs"></i> Open Editor</a>




        <!--<a id="openEditor" class="various fancybox.iframe btn btn-success"  href="{{addHttp url}}">Open Editor</a>-->

        <!--<a id="openEditor" class="various fancybox.iframe btn btn-success" href="#">Open Editor</a>-->


        <!--</button>-->

            <!--<button id="form-submit-button" class="btn btn-primary text-white">-->
                <!--<a class="various fancybox.iframe text-white" href="/cBuilder/chart.html?cid=1">Open Editor</a>-->
            <!--</button>-->


	<!--</div>-->
</template>



