<template name="header">
    <div id="header">
        <div class="color-line">
        </div>
        <div id="logo" class="light-version">
        <!--<span>-->
           <!--BetterBrand-->
        <!--</span>-->
            <img src="/images/logo-chatsuite-white.png" class="img-responsive m-b" alt="Chatsuite">
        </div>
        <nav role="navigation">
            <div class="header-link hide-menu"><i class="fa fa-bars"></i></div>
            <div class="small-logo">
                <span class="text-primary">B</span>
            </div>
            <!--<form role="search" class="navbar-form-custom" method="post" action="#">
                <div class="form-group">
                    <input type="text" placeholder="Search something special" class="form-control" name="search">
                </div>
            </form>-->
            <div class="mobile-menu">
                <button type="button" class="navbar-toggle mobile-menu-toggle" data-toggle="collapse" data-target="#mobile-collapse">
                    <i class="fa fa-chevron-down"></i>
                </button>
                <div class="collapse mobile-navbar" id="mobile-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a class="" href="{{pathFor 'logout'}}">Login</a>
                        </li>
                        <li>
                            <a class="" href="{{pathFor 'logout'}}">Logout</a>
                        </li>
                        <li>
                            <!--<a class="" href="{{pathFor route='profile'}}">Profile</a>-->
			                 <a class="" href="#">Profile</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="navbar-right">
                <ul class="nav navbar-nav no-borders">

                    <!--<li class="dropdown">-->
                        <!--<a class="dropdown-toggle label-menu-corner" href="#" data-toggle="dropdown">-->
                            <!--<i class="pe-7s-bell"></i>-->
                            <!--<span class="label label-danger">4</span>-->
                        <!--</a>-->
                        <!--<ul class="dropdown-menu hdropdown notification">-->
                            <!--<li>-->
                                <!--<a style="padding: 3px 12px 3px 6px;">-->
                                    <!--<i class="fa fa-circle text-success m-r-xs"></i> You have 3 new report alerts-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a style="padding: 3px 12px 3px 6px;">-->
                                     <!--<i class="fa fa-circle text-danger m-r-xs"></i> There are 2 campaigns that finished today-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a style="padding: 3px 12px 3px 6px;">-->
                                     <!--<i class="fa fa-circle text-success m-r-xs"></i> View your last monthly report-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li class="summary"><a href="#">See all notifications</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->

                    <!--<li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                            <i class="pe-7s-keypad"></i>
                        </a>
                        <div class="dropdown-menu hdropdown bigmenu animated flipInX">
                            <table>
                                <tbody>
                                <tr>
                                    <td>
                                        <a href="{{pathFor route='projects'}}">
                                            <i class="pe pe-7s-portfolio text-info"></i>
                                            <h5>Projects</h5>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{pathFor route='mailbox'}}">
                                            <i class="pe pe-7s-mail text-warning"></i>
                                            <h5>Email</h5>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{pathFor route='contacts'}}">
                                            <i class="pe pe-7s-users text-success"></i>
                                            <h5>Contacts</h5>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="{{pathFor route='forum'}}">
                                            <i class="pe pe-7s-comment text-info"></i>
                                            <h5>Forum</h5>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{pathFor route='analytics'}}">
                                            <i class="pe pe-7s-graph1 text-danger"></i>
                                            <h5>Analytics</h5>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{pathFor route='fileManager'}}">
                                            <i class="pe pe-7s-box1 text-success"></i>
                                            <h5>Files</h5>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </li>-->
                    <!--<li class="dropdown">
                        <a class="dropdown-toggle label-menu-corner" href="#" data-toggle="dropdown">
                            <i class="pe-7s-mail"></i>
                            <span class="label label-success">4</span>
                        </a>
                        <ul class="dropdown-menu hdropdown animated flipInX">
                            <div class="title">
                                You have 4 new messages
                            </div>
                            <li>
                                <a>
                                    It is a long established.
                                </a>
                            </li>
                            <li>
                                <a>
                                    There are many variations.
                                </a>
                            </li>
                            <li>
                                <a>
                                    Lorem Ipsum is simply dummy.
                                </a>
                            </li>
                            <li>
                                <a>
                                    Contrary to popular belief.
                                </a>
                            </li>
                            <li class="summary"><a href="#">See All Messages</a></li>
                        </ul>
                    </li>-->
                    <!--<li>
                        <a href="#" id="sidebar" class="right-sidebar-toggle">
                            <i class="pe-7s-upload pe-7s-news-paper"></i>
                        </a>
                    </li>-->
                    <li class="dropdown">
                        <a href="{{pathFor 'logout'}}">
                            <i class="pe-7s-upload pe-rotate-90"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</template>
