<template name="navigation">


    <aside id="menu">

        <div id="navigation">

            <div class="profile-picture m-t-sm m-b-sm">
                <a href="{{pathFor route='dashboard'}}">
                    <img src="/images/chatsuite-logo-sidebar.png"
                         style="width: 80px; margin: 0 auto 15px;"
                         class="img-circle img-responsive m-b"
                         alt="Chatsuite">
                </a>

                <div class="stats-label text-color">
                    <span class="font-extra-bold text-white">ChatSuite</span>
                </div>
            </div>

            <ul class="nav" id="side-menu">

                <li class="{{isActiveRoute regex='campaigns'}}">
                    <a href="{{pathFor route='campaigns'}}">
                        <span class="pe-7s-speaker m-r-sm pe-2x va-middle text-center" style="margin-top:-2px;width:20px"></span>
                        <span class="nav-label">Campaigns</span>
                    </a>
                </li>

                <!--<li class="{{isActiveRoute regex='dashboard'}}">-->
                    <!--<a href="{{pathFor route='dashboard'}}"><span class="pe-7s-display1 m-r-sm pe-2x va-middle text-center" style="margin-top:-2px;width:40px"></span> <span class="nav-label">Analytics</span></a>-->
                <!--</li>-->

                <!--<li class="{{isActiveRoute regex='audience'}}">-->
                    <!--<a href="{{pathFor route='audience'}}"><span class="pe-7s-id m-r-sm pe-2x va-middle text-center" style="margin-top:-2px;width:40px"></span> <span class="nav-label">Audience</span></a>-->
                <!--</li>-->

                <!--<li class="{{isActiveRoute regex='user_settings'}}">-->
                    <!--<a href="{{pathFor route='user_settings'}}"><span class="pe-7s-tools m-r-sm pe-2x va-middle text-center" style="margin-top:-2px;width:40px"></span> <span class="nav-label">Settings</span> </a>-->
                <!--</li>-->

                <!--<li class="{{isActiveRoute regex='support'}}">-->
                    <!--<a href="{{pathFor route='support'}}"><span class="pe-7s-help2 m-r-sm pe-2x va-middle text-center" style="margin-top:-2px;width:40px"></span> <span class="nav-label">Support</span>  </a>-->
                <!--</li>-->

                <li class="{{isActiveRoute regex='cms'}}">
                    <a href="{{pathFor route='cms'}}">
                        <span class="pe-7s-display1 m-r-sm pe-2x va-middle text-center" style="margin-top:-2px;width:20px">

                        </span>
                        <span class="nav-label">CMS
                        </span>
                    </a>
                </li>

                <li class="{{isActiveRoute regex='Broadcasting'}}">
                    <a href="{{pathFor route='Broadcasting'}}">
                        <span class="pe-7s-help2 m-r-sm pe-2x va-middle text-center" style="margin-top:-2px;width:20px">

                        </span>
                        <span class="nav-label">Scheduler
                        </span>
                    </a>
                </li>


            </ul>
        </div>
    </aside>

</template>

<template name="navigationView">
        {{#if isNotEmpty}}
                    {{#if viewAsTable}} {{> navigationViewTable}} {{/if}}
        <!--{{else}}
        <li class="{{isActiveRoute regex='campaigns'}}">
            <a href="{{pathFor route='campaigns'}}">Campaigns</a>
        </li>-->
        {{/if}}
</template>

<template name="navigationViewTable">

        {{#each tableItems}} {{> navigationViewTableItems}} {{/each}}

</template>

<template name="navigationViewTableItems">

    <!--<li class="{{isActiveRoute regex='cBuilder'}}"><a href="{{pathFor route='cBuilder'}}">&nbsp;{{name}}</a>
    </li>-->


    <li class="{{isActiveRoute regex='campaigns'}}">
        <a href="{{pathFor route='campaigns'}}">
            <span class="label label-default">{{name}}</span> </a>
    </li>



</template>