<template name="pageTitle">
    <div class="row">
        <div class="col-lg-12 text-center m-t-md">
            <h2 class="color-text">
                {{title}}
            </h2>
            <p>
                {{> Template.contentBlock}}
            </p>
        </div>
    </div>
</template>
