<template name="panel">

    <div class="hpanel {{color}} {{panelClass}} {{#if collapsed}} collapsed {{/if}}">
        {{#if title}}
            <!--<div class="panel-heading {{#if built}} hbuilt {{/if}}">-->
                <div class="panel-heading hbuilt bg-dark text-white">
                {{#if fullscreen}}
                    {{> panelToolsFullscreen }}
                {{else}}
                    {{> panelTools }}
                {{/if}}
                {{title}}
            </div>
        {{/if}}
        <div class="panel-body {{bodyClass}}">
            {{> Template.contentBlock}}
        </div>
        {{#if footer }}
            <div class="panel-footer">
                {{#if footerRight}}
                    <span class="pull-right">
                        {{footerRight}}
                    </span>
                {{/if}}
                {{footer}}
            </div>
        {{/if}}
    </div>


</template>