<template name="SupportDetails">



    <div class="normalheader small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div class="col-lg-6 col-md-6">
                    <div id="hbreadcrumb" class="">
                        <ol class="hbreadcrumb breadcrumb">
                        	<li class=""><a class="btn btn-link text-dark text-uppercase" href="{{pathFor route='support'}}">Support</a></li>
                            <li class="active"><a class="btn btn-link text-primary" href="{{pathFor route=''}}">General Discussion</a></li>
                        </ol>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="pull-right">
                        <form id="" class="form-inline" style="margin-bottom:0">    
                            <div id="" class="form-group m-b-none">
                                <div class="btn-group" style="max-width:210px">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="" placeholder="Search for help..." name="search" value="" autofocus="autofocus">
                                        <span class="input-group-btn">
                                            <button type="button" id="" class="btn btn-default"><i class="fa fa-search"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>          
                            <div id="" class="form-group m-b-none">
                                <a href="{{pathFor route=''}}" id="" class="btn btn-primary text-uppercase m-l-sm"><i class="fa fa-plus m-r-xs"></i> New Question</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-heading hbuilt wborder bg-white text-dark">
                        <span class="pull-right">
                            <i class="fa fa-clock-o"></i>
                            Last modification: 10.12.2015, 10:22 am
                        </span>
                        <span class="">General Discussion</span>
                    </div>
                    <div class="panel-body panel-support">
                        <div class="media">
                            <div class="media-image pull-left">
                                <img src="/images/avatars/tomas-laurent.jpg" alt="">
                                <div class="author-info">
                                    <strong>Tomas Laurent</strong><br>
                                    April 11.2015
                                    <div class="badges">
                                        <i class="fa fa-star text-warning"></i>
                                        <i class="fa fa-shield text-success"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="media-body row">
	                            <div class="col-md-9 m-t-sm m-b-sm no-padding">
	                                <h4 class="m-t-none m-b-xs text-dark">Vivamus luctus diam et magna</h4>
	                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. Ut mollis mauris in quam scelerisque, nec euismod nulla rutrum. Vestibulum elementum
	                                porta pharetra. Praesent volutpat, mi sed laoreet facilisis, turpis erat ...
	                                <br/>
	                                <br/>
	                                <i class="text-primary">
	                                - BetterBrand answered this Topic.
	                                </i>
	                            </div>
	                            <div class="col-md-2 col-md-offset-1">
	                            	<div class="row">
			                            <div class="col-md-6 m-t-xs m-b-md forum-info">
			                                <span class="number">5244</span>
			                                <small>Views</small>
			                            </div>
			                            <div class="col-md-6 m-t-xs m-b-md forum-info">
			                                <span class="number">977</span>
			                                <small>Comments</small>
			                            </div>
			                            <div class="col-md-6 forum-info">
			                                <span class="number text-success"><i class="fa fa-level-up text-success"></i> 223</span>
			                                <small>Votes</small>
			                            </div>
			                            <div class="col-md-6 forum-info">
			                                <span class="number text-danger"><i class="fa fa-level-down text-danger"></i> 36</span>
			                                <small>Votes</small>
			                            </div>
			                        </div>
		                        </div>
	                        </div>
                        </div>
                    </div>

                    <div class="panel-body panel-support">
                        <div class="media">
                            <div class="media-image pull-left">
                                <img src="/images/avatars/amanda-jones.jpg" alt="profile-picture">
                                <div class="author-info">
                                    <strong>Amanda Jones</strong><br>
                                    May 01.2015
                                    <div class="badges">
                                        <i class="fa fa-star text-warning"></i>
                                        <i class="fa fa-star text-warning"></i>
                                        <i class="fa fa-star text-warning"></i>

                                    </div>
                                </div>
                            </div>
                            <div class="media-body row">
	                            <div class="col-md-9 m-t-sm m-b-sm no-padding">
	                                <h4 class="m-t-none m-b-xs text-dark">Vivamus luctus diam et magna</h4>
	                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. Ut mollis mauris in quam scelerisque, nec euismod nulla rutrum. Vestibulum elementum
	                                porta pharetra. Praesent volutpat, mi sed laoreet facilisis, turpis erat ...
	                                <br/>
	                                <br/>
	                                <i class="text-primary">
	                                - BetterBrand answered this Topic.
	                                </i>
	                            </div>
	                            <div class="col-md-2 col-md-offset-1">
	                            	<div class="row">
			                            <div class="col-md-6 m-t-xs m-b-md forum-info">
			                                <span class="number">5244</span>
			                                <small>Views</small>
			                            </div>
			                            <div class="col-md-6 m-t-xs m-b-md forum-info">
			                                <span class="number">977</span>
			                                <small>Comments</small>
			                            </div>
			                            <div class="col-md-6 forum-info">
			                                <span class="number text-success"><i class="fa fa-level-up text-success"></i> 223</span>
			                                <small>Votes</small>
			                            </div>
			                            <div class="col-md-6 forum-info">
			                                <span class="number text-danger"><i class="fa fa-level-down text-danger"></i> 36</span>
			                                <small>Votes</small>
			                            </div>
			                        </div>
		                        </div>
	                        </div>
                        </div>
                    </div>

                    <div class="panel-body panel-support">
                        <div class="media">
                            <div class="media-image pull-left">
                                <img src="/images/avatars/jade-lim.jpg" alt="profile-picture">
                                <div class="author-info">
                                    <strong>Jade Lim</strong><br>
                                    May 01.2015
                                    <div class="badges">
                                        <i class="fa fa-shield text-success"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="media-body row">
	                            <div class="col-md-9 m-t-sm m-b-sm no-padding">
	                                <h4 class="m-t-none m-b-xs text-dark">Vivamus luctus diam et magna</h4>
	                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. Ut mollis mauris in quam scelerisque, nec euismod nulla rutrum. Vestibulum elementum
	                                porta pharetra. Praesent volutpat, mi sed laoreet facilisis, turpis erat ...
	                                <br/>
	                                <br/>
	                                <i class="text-primary">
	                                - BetterBrand answered this Topic.
	                                </i>
	                            </div>
	                            <div class="col-md-2 col-md-offset-1">
	                            	<div class="row">
			                            <div class="col-md-6 m-t-xs m-b-md forum-info">
			                                <span class="number">5244</span>
			                                <small>Views</small>
			                            </div>
			                            <div class="col-md-6 m-t-xs m-b-md forum-info">
			                                <span class="number">977</span>
			                                <small>Comments</small>
			                            </div>
			                            <div class="col-md-6 forum-info">
			                                <span class="number text-success"><i class="fa fa-level-up text-success"></i> 223</span>
			                                <small>Votes</small>
			                            </div>
			                            <div class="col-md-6 forum-info">
			                                <span class="number text-danger"><i class="fa fa-level-down text-danger"></i> 36</span>
			                                <small>Votes</small>
			                            </div>
			                        </div>
		                        </div>
	                        </div>
                        </div>
                    </div>


                    <div class="panel-body panel-support" style="border-bottom:none">
                        <div class="media">
                            <div class="media-image pull-left">
                                <img src="/images/avatars/jennifer-nollis.jpg" alt="profile-picture">
                                <div class="author-info">
                                    <strong>Jennifer Nollis</strong><br>
                                    Oct 21.2015
                                    <div class="badges">
                                        <i class="fa fa-shield text-success"></i>
                                        <i class="fa fa-shield text-success"></i>
                                        <i class="fa fa-star text-warning"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="media-body row">
	                            <div class="col-md-9 m-t-sm m-b-sm no-padding">
	                                <h4 class="m-t-none m-b-xs text-dark">Vivamus luctus diam et magna</h4>
	                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. Ut mollis mauris in quam scelerisque, nec euismod nulla rutrum. Vestibulum elementum
	                                porta pharetra. Praesent volutpat, mi sed laoreet facilisis, turpis erat ...
	                                <br/>
	                                <br/>
	                                <i class="text-primary">
	                                - BetterBrand answered this Topic.
	                                </i>
	                            </div>
	                            <div class="col-md-2 col-md-offset-1">
	                            	<div class="row">
			                            <div class="col-md-6 m-t-xs m-b-md forum-info">
			                                <span class="number">5244</span>
			                                <small>Views</small>
			                            </div>
			                            <div class="col-md-6 m-t-xs m-b-md forum-info">
			                                <span class="number">977</span>
			                                <small>Comments</small>
			                            </div>
			                            <div class="col-md-6 forum-info">
			                                <span class="number text-success"><i class="fa fa-level-up text-success"></i> 223</span>
			                                <small>Votes</small>
			                            </div>
			                            <div class="col-md-6 forum-info">
			                                <span class="number text-danger"><i class="fa fa-level-down text-danger"></i> 36</span>
			                                <small>Votes</small>
			                            </div>
			                        </div>
		                        </div>
	                        </div>
                        </div>
                    </div>

                    

                </div>

            </div>
        </div>


    </div>



</template>